.CreativeHaven {
  background: rgb(5, 21, 9);
  background: linear-gradient(
    90deg,
    rgba(5, 21, 9, 1) 30%,
    rgba(22, 46, 28, 1) 66%
  );
  height: 600px;
  overflow: hidden;
}

.CreativeHavenText {
  position: relative;
}

.CreativeHavenImage {
  position: relative;
}

.CreativeHavenText h2 {
  position: absolute;
  top: 317px;
  left: 0px;
  font-size: 56px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 70px;
  color: #ffffff;
}

.CreativeHavenImage .HavenImage {
  position: absolute;
  top: 0px;
  right: 0px;
}

.CoWorkingTeam h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  font-family: "Montserrat";
  color: #ffffff;
  text-align: center;
}

.CoWorkingAndMembership {
  background: rgb(5, 21, 9);
  background: linear-gradient(
    90deg,
    rgba(5, 21, 9, 1) 100%,
    rgba(22, 46, 28, 1) 100%
  );
  padding: 50px 50px;
  overflow-x: hidden;
}

.CoWorkingTeam .CoWorking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 90px;
  text-align: center;
  margin-top: 100px;
}

.CoWorkingText h2 {
  font-size: 31px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 40px;
  color: #75ba87;
  margin-bottom: 20px;
}

.CoWorkingText p {
  font-size: 16px;
  font-family: "Jost";
  font-weight: 400;
  line-height: 20px;
  color: #A3A3A3;
  margin-bottom: 60px;
}

.Membership {
  background: #484848;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
}

.Lifetime {
  text-align: center;
  width: 100%;
}

.Lifetime h3 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 20px;
}

.Lifetime h4 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 40px;
  color: #75ba87;
  margin-bottom: 20px;
}



.Lifetime p {
  font-size: 16px;
  font-family: "Jost";
  font-weight: 400;
  line-height: 20px;
  color: #e3f1e7;
  width: 306px;
  margin: auto;
  margin-bottom: 20px;

}

.YogaBack {
  cursor: pointer;
}

.YogaBack li {
  display: flex;
  justify-content: end;
  align-items: center;
}

li .Icon {
  background: #ffffff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  background: no-repeat;
  
}


.YogaBack .Lifetime h5 {
  font-size: 18px;
  font-family: "Jost";
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  margin-top: 12px;
  margin-right: 4px;
  margin-left: 4px;
}

/* Media Query for Mobile Devices */
@media (max-width: 637px) {
  .CreativeHavenText h2 {
    z-index: 3;
  }

  .CreativeHavenImage .HavenImage {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
  }


  .CoWorkingAndMembership {
    padding: 0px !important;
  }


  .CoWorkingTeam .CoWorking {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 100px;
    gap: 0px;
  }


  .CreativeHavenText h2{
    z-index: 3;
    font-size: 32px;
    top: 230px !important;
  }


  .Lifetime {
    text-align: center;
    
  }


  .Membership {
    background: #484848;
    padding: 0px 0px ;
    display: block !important;
    justify-content: space-between;
  }


  .CreativeHaven {
    height: 370px !important;
  }
  


  .Lifetime h3 {
    font-size:  18px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .Lifetime h4 {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 40px;
    color: #75ba87;
    margin-bottom: 10px;
  }

  
  .Lifetime p {
    font-size: 16px;
    font-family: "Jost";
    font-weight: 400;
    line-height: 20px;
    color: #e3f1e7;
    margin-bottom: 20px;
    width: 240px;
    margin: auto;
    margin-bottom: 60px;
  }


  .CoWorkingTeam h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 60px;
    font-family: "Montserrat";
    color: #ffffff;
    text-align: center;
  }

  .YogaBack li{
    display: flex;
    justify-content: end;
  }
  
  
}




@media (min-width: 640px) and (max-width: 1040px) {

    .CreativeHavenText h2 {
        z-index: 3;
        font-size: 32px;
      }


      .CoWorkingAndMembership {
        padding: 0px !important;
      }
    
    
      .CreativeHavenImage .HavenImage {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
      }

      .CoWorkingTeam .CoWorking {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin-top: 100px;
        gap: 0px;
      }
    

      .Membership {
        background: #484848;
        padding: 50px 150px;
        display: block !important;
        justify-content: space-between;
      }



}
