.PerksAndUtility {
  background-color: #e8e8ea;
  padding: 0px 0px;
}

.PerksAndUtility .Perks h1 {
  color: #051509;
  text-align: center;
  font-size: 56px;
  font-weight: 600;

  line-height: 70px;
  margin-bottom: 20px;
  font-family: 'futura-bold';
  text-transform: uppercase;
}

.PerksAndUtility .Perks p {
  color: #484848;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Montserrat-Regular';
  line-height: 20px;
  padding: 0px 200px;
}

.Perks .PerksCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 114px;
  margin-top: 100px;
}

.CardItam p {
  width: 100%;
  padding: 0px !important;
}

.CardItam {
  width: 100%;
  position: relative;
  text-align: center;
}

.CardItam .mobileRespon {
  display: block !important;
}

.CardItam .CardImg {
  height: 64px;
  width: 64px;
}

.CardItam h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat-Light';
  letter-spacing: 0.2em;
  color: #1a1a1a;
  margin-top: 20px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.Utilitys {
  border-top: 1px solid #d1d1d1;
  margin: 100px 0px 50px;
}

.Utilitys h1 {
  font-size: 56px;
  font-family: 'futura-bold';
  font-weight: 600;
  line-height: 70px;
  color: #051509;
  text-align: center;
  margin: 20px 0px 120px;
  text-transform: uppercase;
}

.Utilitys .UtilityAllText {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

.UtilityAll .UtilityText {
  width: 100%;
}

.UtilityText h2 {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Montserrat-Light';
  text-transform: uppercase;
  line-height: 45px;
  color: #051509;
  margin-bottom: 21px;
}

.UtilityText p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat-Regular';
  line-height: 20px;
  color: #484848;
}

.UtilityImage {
  position: relative !important;
  height: 300px;
}

.ChildImg {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 5;
}

.HomeImg {
  position: absolute !important;
  top: 120px !important;
  right: 10px !important;
  z-index: 2 !important;
}

/* Media Query for Mobile Devices */
@media (max-width: 637px) {
  .Perks .PerksCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0px;
  }


  .UtilityImage {
    position: relative !important;
    height: 330px !important;
  }

  .CardItam .mobileRespon {
    display: flex !important;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    justify-content: flex-end;
  }

  .mobileRespon h3 {
    margin-right: 0px;
    text-align: left;
    letter-spacing: 0.2em;
  }

  .mobileRespon img {
    width: 64px !important;
  }

  .PerksAndUtility .Perks h1 {
    color: #051509;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    font-family: 'futura-bold';
    line-height: 70px;
    margin-bottom: 20px;
  }

  .PerksAndUtility .Perks p {
    padding: 10px 0px !important;
    text-align: left;
    font-size: 16px;
  }

  .PerksAndUtility .Perks .CardItam p {
    padding: 0px 0px 0px !important;
    text-align: left;
    font-size: 14px;
  }

  .Utilitys h1 {
    font-size: 28px;
    font-family: 'futura-bold';
    font-weight: 600;
    line-height: -5px;
    color: #051509;
    text-align: center;
    margin-bottom: 20px;
  }

  .Utilitys {
    border-top: 1px solid #d1d1d1;
    margin: 0px 0px 50px;
  }

  .Utilitys .UtilityAllText {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
  }

  .HomeImg {
    position: absolute !important;
    top: 210px !important;
    left: 0px !important;
    z-index: 2 !important;
    text-align: center !important;
  }

  .HomeImg img {
    width: 352px !important;
    margin: 0 auto !important;
  }
  .ChildImg img {
    margin: 0 auto !important;
  }

  .ChildImg {
    position: absolute !important;
    bottom: 0px !important;
    left: 0px !important;
    z-index: 5;
    text-align: center !important;
    width: 100% !important;
  }

  .UtilityAllText:last-child {
    margin-top: 100px !important;
    display: flex;
    flex-direction: column-reverse;
  }

  .UtilityText .MarginTop {
    margin-top: 50px !important;
  }

  .CardItam h3 {
    font-size: 18px !important;
    font-family: 'Montserrat-Regular' !important;
  }



  
}

@media (min-width: 640px) and (max-width: 1040px) {
  .Perks .PerksCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    gap: 50px;
    margin-top: 40px;
  }

  .PerksAndUtility .Perks p {
    padding: 20px 0px !important;
  }

  .Utilitys .UtilityAll {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }

  .Utilitys {
    border-top: 1px solid #d1d1d1;
    margin: 0px 0px 50px;
  }

  .HomeImg {
    position: absolute !important;
    top: 200px !important;
    left: 0px !important;
    z-index: 2 !important;
    width: 323px;
  }

  .Utilitys h1 {
    font-size: 56px;
    font-family: 'futura-bold';
    font-weight: 600;
    line-height: 70px;
    color: #051509;
    text-align: center;
    margin: 20px 0px 50px;
  }

  .PerksAndUtility .Perks p {
    padding: 10px 0px !important;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }

  .PerksAndUtility .Perks .CardItam p {
    padding: 0px 0px 0px !important;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
  }

  .CardItam .mobileRespon {
    display: flex !important;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    justify-content: flex-end;
  }

  .mobileRespon h3 {
    margin-right: 20px;
  }

  .mobileRespon img {
    width: 50px !important;
  }
}
