.OnlineClassesBanner {
  background: url(../../public/images/image\ 22.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.OnlineClassesText {
  position: relative;
}

.OnlineClassesText h2 {
  position: absolute;
  top: 317px;
  left: 0px;
  font-size: 56px;
  font-weight: 600;
  font-family: "Montserrat-Regular";
  line-height: 70px;
  color: #ffffff;
}

.CreativeHavenImage .HavenImage {
  position: absolute;
  top: 0px;
  right: 0px;
}

.CoWorkingTeam h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  font-family: "Montserrat-Regular";
  color: #ffffff;
  text-align: center;
}

.CoWorkingAndMembership {
  background: rgb(5, 21, 9);
  background: linear-gradient(
    90deg,
    rgba(5, 21, 9, 1) 100%,
    rgba(22, 46, 28, 1) 100%
  );
  padding: 50px 50px;
  overflow-x: hidden;
}

.CoWorkingTeam .CoWorking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 90px;
  text-align: center;
  margin-top: 100px;
}

.CoWorkingText h2 {
  font-size: 29px;
  font-family: "Montserrat-Regular";
  font-weight: 500;
  line-height: 40px;
  color: #75ba87;
  margin-bottom: 20px;
}

.CoWorkingText p {
  font-size: 16px;
  font-family: "Jost";
  font-weight: 400;
  line-height: 20px;
  color: #A3A3A3;
  margin-bottom: 60px;
}

.OnlineMembership {
  text-align: center;
  background: #484848;
  padding: 50px 100px;
}

.OnlineMembership h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  font-family: "Montserrat-Regular";
  color: #ffffff;
  text-align: center;
}

.OnlineMembership h4 {
  font-size: 32px;
  font-family: "Montserrat-Regular";
  font-weight: 500;
  line-height: 40px;
  color: #75ba87;
  margin-bottom: 60px;
  margin-top: 20px;
  text-decoration: underline;
}

.OnlineMembership .Membership {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}



.Lifetime h3 {
  font-size: 31px;
  font-family: "Montserrat-Regular";
  font-weight: 500;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 20px;
}

.Lifetime h4 {
  font-size: 32px;
  font-family: "Montserrat-Regular";
  font-weight: 500;
  line-height: 40px;
  color: #75ba87;
  margin-bottom: 20px;
  text-decoration: none !important;
}

.Lifetime p {
  font-size: 16px;
  font-family: "Jost";
  font-weight: 400;
  line-height: 20px;
  color: #e3f1e7;
  width: 306px;
  margin: auto;
  margin-bottom: 20px;
}

.GoLink {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.YogaBack li {
  display: flex;
}

li .Icon {
  background: #ffffff;  
  text-align: center;  
  background: no-repeat;
}

.GoLink .YogaBack .Lifetime h5 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Jost";
  font-weight: 400;
  line-height: 20px;
  color: #e3f1e7;
  margin-top: 12px;
  margin-right: 4px;
  margin-left: 4px;
}

@media (min-width: 640px) and (max-width: 1040px) {
  .CreativeHavenText h2 {
    z-index: 3;
    font-size: 32px;
  }



.CoWorkingAndMembership{
  padding: 0px !important;
}


  .CreativeHavenImage .HavenImage {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
  }

  .CoWorkingTeam .CoWorking {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 100px;
    gap: 0px;
  }

  .Membership {
    background: #484848;
    padding: 0px 0px;
    display: block !important;
    justify-content: space-between;
    margin-left: 40px;
  }

  .Lifetime {
    text-align: center;
    width: 370px;
    margin-bottom: 50px;
    margin-left: 0px !important;
  }

  .GoLink {
    margin-left: -30px !important;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 637px) {
  .OnlineClassesBanner {
    background: url(../../public/images/image\ 222.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
  }


  .CoWorkingAndMembership{
    padding: 0px !important;
  }

  .OnlineMembership {
    text-align: center;
    background: #484848;
    padding: 0px 0px !important;
  }

  .CoWorkingText h2 {
    font-size: 48px !important;
  }

  .CoWorkingText p {
    margin-bottom: 50px !important;
    
  }
  .OnlineClassesText h2 {
    position: absolute;
    top: 230px;
    left: 10px;
    font-size: 40px;
    font-weight: 600;
    font-family: "Montserrat-Regular";
    line-height: 70px;
    color: #ffffff;
  }

  .OnlineMembership h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 45px;
    font-family: "Montserrat-Regular";
    color: #ffffff;
    text-align: center;
  }

  .OnlineMembership h4 {
    font-size: 18px;
    font-family: "Montserrat-Regular";
    font-weight: 500;
    line-height: 40px;
    color: #75ba87;
    margin-bottom: 15px;
    margin-top: 0px;
    text-decoration: underline;
  }

  .Lifetime h3 {
    font-size: 20px;
    font-family: "Montserrat-Regular";
    font-weight: 500;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 20px;
    margin: 0px !important;
  }

  .Lifetime h4 {
    font-size: 18px;
    font-family: "Montserrat-Regular";
    font-weight: 500;
    line-height: 40px;
    color: #75ba87;
    margin-bottom: 20px;
    margin: 0px !important;
  }

  .Lifetime p {
    font-size: 16px;
    font-family: "Jost";
    font-weight: 400;
    line-height: 20px;
    color: #e3f1e7;
    margin-bottom: 20px;
    width: 200px !important;
  }

  .Lifetime {
    text-align: center;    
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-left: -40px !important;
  }

  .CreativeHavenImage .HavenImage {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
  }

  .CoWorkingTeam .CoWorking {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 100px;
    gap: 0px;
  }

  .OnlineMembership .Membership {
    background: #484848;
    padding: 0px 0px;
    display: block !important;
    justify-content: space-between;
  }

  .GoLink {
    display: flex;
    justify-content: space-between;
    margin: 20px -130px;
    margin-left: 36px !important;
    cursor: pointer;
    
  }
}
