.headerWrapper {
  background-color: #75ba87;
  padding-bottom: 50px;
}
.hello {
  padding-top: 150px;
  padding-bottom: 50px;
}

@media (max-width: 450px) {
  .headerContentWrapper {
    background-image: url("../../../public/images/Banners/Mobile.png") !important;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 686px !important;
    padding-top: 2rem;
  }
  .BannerShap {
    z-index: -1;
  }
}

@media (max-width: 1300px) {
  .headerContent h1 {
    font-size: 60px !important;
  }
}

@media (max-width: 900px) {
  .headerContentWrapper {
    background-image: url("../../../public/images/Banners/ipad\ header.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    padding-top: 2rem;
  }

  .headerContent {
    text-align: center !important;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .headerContent h1 {
    font-size: 72px !important;
    text-align: center !important;
    line-height: 97px;
    font-weight: 600;
    font-family: "Montserrat-Regular";
    color: #e3f1e7;
  }

  .headerContent button {
    margin-left: 0rem !important;
  }
}

@media (max-width: 900px) {
  .headerContent {
    text-align: center !important;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

.headerContent h1 {
  font-size: 72px !important;
  text-align: center !important;
  line-height: 97px;
  font-weight: 600;
  font-family: "Montserrat-Regular";
  color: #e3f1e7;
  margin-bottom: 30px;
}

.headerContent p {
  font-size: 18px !important;
  text-align: center !important;
  line-height: 23px;
  font-weight: 400;
  font-family: "Jost";
  color: #ffffff;
  margin-bottom: 30px;
}

.headerContent button {
  background: #75ba87;
  font-family: "Jost";
  font-weight: 500;
  font-size: 16px;
  color: #1a1a1a;
  padding: 18px 24px;
  border: none;
}

.BannerShap {
  position: absolute;
  top: 70px;
  left: -290px;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .BannerShap {
    z-index: -1;
  }
}
