@font-face {
  font-family: FuturaLight;
  src: url("../../../public/fonts/futura/Futura\ Light\ font.ttf");
}

.mobileSLide {
  display: none;
}

.IpadSLide {
  display: none;
}

.carouselItem p {
  color: gray !important;
}
.carouselItem {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../../../public/images/banner.png");
  background-size: 80vw 100vh;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: "Montserrat-Regular";
}
.carouselItem h1 {
  font-family: "futura-bold";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 52px;
  color: #e3f1e7;
  position: absolute;
  left: 30px;
  top: 40px;
}
.carouselItem p {
  font-family: "Montserrat-Regular";
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  left: 30px;
  top: 246px;
}
.carousleButton {
  width: 200px;
  height: 56px;
  background: #75ba87;
  position: absolute;
  left: 30px;
  top: 320px;
  font-weight: 700;
  color: white;
  transition: all linear 0.4s;
}

.carousleButton:hover {
  background: #e2dd96;
}

.carousleButton button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-family: "Jost", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}
.carousleItemTwo {
  width: 100vw;
  height: 100vh;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: end;
  background: url("../../../public/images/Merch.png");
  background-size: 100% 100%;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: "Montserrat-Regular";
}
.carousleButtonTwo {
  width: 200px;
  height: 56px;
  background: #75ba87;
  font-weight: 700;
  color: white;
  font-weight: 400 !important;
  font-family: "Jost", sans-serif !important;
  transition: all linear 0.4s;
}
.carousleButtonTwo:hover {
  background: #e2dd96;
}
.carousleItemTwo h1 {
  font-family: "futura-bold";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 52px;
  color: #e3f1e7;
  left: 230px;
  top: 40px;
  text-align: center;
}

.carousleButtonTwo button {
  width: 100%;
  height: 100%;
  background: transparent;
}
.carouselItemThree {
  width: 100vw;
  height: 100vh;
  margin-top: -50px;
  position: relative;
  background: url("../../../public/images/creativehaven.png");
  background-size: 60vw 100vh;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: "Montserrat-Regular";
}

.carouselItemThree h1 {
  font-family: "futura-bold";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 52px;
  color: #e3f1e7;
  position: absolute;
  left: 30px;
  top: 40px;
}
.carouselItemThree p {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  left: 30px;
  top: 250px;
}

.carouselItemFour {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../../../public/images/Yoga_River.png");
  background-size: 60vw 100vh;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: "Montserrat-Regular";
  margin-top: -50px;
}

.carouselItemFour h1 {
  font-family: "futura-bold";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 52px;
  color: #e3f1e7;
  position: absolute;
  left: 30px;
  top: 40px;
}
.carouselItemFour p {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  left: 30px;
  top: 250px;
}
.slider {
  padding-bottom: 50px;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .mobileSLide {
    display: none;
  }
  .carouselItem {
    width: 100vw;
    height: 100vh;

    position: relative;
    background: url("../../../public/images/banner.png");
    background-size: 80vw 80%;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: "Montserrat-Regular";
  }
  .carouselItem h1 {
    font-family: "futura-bold";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    color: #e3f1e7;
    position: absolute;
    left: 30px;
    top: 280px;
  }
  .carouselItem p {
    top: 450px;
  }
  .carousleItemTwo h1 {
    font-family: "futura-bold";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    color: #e3f1e7;
    left: 230px;
    top: 280px;
    text-align: center;
  }
  .carousleItemTwo p {
    top: 450px;
  }
  .carouselItemThree h1 {
    font-family: "futura-bold";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    color: #e3f1e7;
    position: absolute;
    left: 30px;
    top: 280px;
  }
  .carouselItemThree p {
    top: 450px;
  }
  .carouselItemFour h1 {
    font-family: "futura-bold";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    color: #e3f1e7;
    position: absolute;
    left: 30px;
    top: 280px;
  }
  .carouselItemFour p {
    top: 370px;
  }
  .carousleButton {
    top: 500px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1040px) {
  .mobileSLide {
    display: none;
  }
  .slider {
    width: 100%;
  }
  .carouselItem {
    width: 100vw;
    height: 85vh;
    position: relative;
    background: url("../../../public/images/banner.png");
    background-size: 72vw 70%;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: "Montserrat-Regular";
    background-position-x: 300px;
    margin-top: 30px;
  }
  .carousleItemTwo {
    width: 105vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background: url("../../../public/images/Merch.png");
    background-size: 90vw 90%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Montserrat-Regular";
  }
  .carouselItemThree {
    width: 99vw;
    height: 80vh;
    position: relative;
    background: url("../../../public/images/creativehaven.png");
    background-size: 50vw 75%;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: "Montserrat-Regular";
    margin-top: 10px;

  }
  .carouselItemFour {
    width: 100vw;
    height: 80vh;
    position: relative;
    background: url("../../../public/images/Yoga_River.png");
    background-size: 43vw 80%;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: "Montserrat-Regular";
    margin-top: 10px;
  }

  .carouselItem p {
    top: 200px;
  }

  .carouselItemThree p {
    top: 200px;
  }

  .carouselItemFour p {
    top: 150px;
  }
}

@media (min-width: 640px) and (max-width: 820px) {
  .slider {
    display: none;
  }

  .IpadSLide {
    width: 100%;
    height: 120vh;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .mobConnectwallbutton {
    width: 200px;
    height: 56px;
    background: #75ba87;
    font-weight: 700;
    color: white;
    margin-top: 110vh;
    margin-left: 36%;
    margin-right: auto;
    z-index: 5555;
    transition: all linear 0.4s;
  }

  .mobConnectwallbutton:hover {
    background: #e2dd96;
  }

  .mobConnectwallbutton button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-family: "Jost", sans-serif !important;
    font-size: 16px;
    font-weight: 400;
  }
  .heroMob {
    background: url(../../../public/images/ipad\ header\ png.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 637px) {
  .mobConnectwallbutton {
    width: 200px;
    height: 56px;
    background: #75ba87;
    font-weight: 700;
    color: white;
    margin-top: 83vh;
    transition: all linear 0.4s;
    /* margin-left: 22%;  */
    /* margin-right: auto; */
    z-index: 5555;
  }
  .mobConnectwallbutton:hover {
    background: #e2dd96;
  }
  .mobConnectwallbutton button {
    background: #75ba87;
    color: #1a1a1a;
    padding: 7px 4px;
    border: 1px solid #75ba87;
    font-weight: 200;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    width: 180px;
    height: 61px;
    margin-top: 0px;
    text-transform: uppercase;
    transition: all linear 0.4s;
  }

  .mobileSLide {
    width: 100%;
    height: 78vh;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroMob {
    background: url(../../../public/images/MobileBanner\ png.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: -115px;
  }
  .slider {
    display: none !important;
  }
  .slider {
    width: 100%;
  }
  .carouselItem {
    background: url("../../../public/images/Guitarist.png");
    background-size: 139% 82%;
    background-position: right top;
    background-repeat: no-repeat;
    background-position-x: -51px;
  }
  .carouselItem h1 {
    font-weight: 600;
    font-size: 52px;
    color: #e3f1e7;
    position: absolute;
    left: 30px;
    top: 280px;
  }
  .carouselItem h1 br {
    display: none;
  }
  .carouselItem p {
    top: 430px;
  }
  .carouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousleButton {
    top: 530px;
  }

  .carouselItemThree {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url("../../../public/images/creativehaven.png");
    background-size: 150vw 100vh;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: "Montserrat-Regular";
  }
  .carouselItemThree h1 {
    font-weight: 600;
    font-size: 54px;
    color: #e3f1e7;

    position: absolute;
    left: 30px;
    top: 120px;
  }
  .carouselItemThree h1 br {
    display: none;
  }
  .carouselItemThree p {
    top: 280px;
  }
  .carouselItemThree .carousleButton {
    top: 380px !important;
  }

  .carouselItemFour {
    width: 100vw;
    height: 100vh;

    position: relative;
    background: url("../../../public/images/Yoga_River.png");
    background-size: 100vw 80vh;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: "Montserrat-Regular";
  }
  .carouselItemFour h1 {
    font-weight: 600;
    font-size: 54px;
    color: #e3f1e7;

    position: absolute;
    left: 30px;
    top: 120px;
  }
  .carouselItemFour h1 br {
    display: none;
  }
  .carouselItemFour p {
    top: 280px;
  }
  .carouselItemFour .carousleButton {
    top: 380px !important;
  }
  .carousleItemTwo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background: url("../../../public/images/Merch.png");
    background-size: 400% 90%;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: "Montserrat-Regular";
    background-position-x: -1100px;
  }
}


@media screen and (max-width: 320px) {
  .heroMob {
    background: url(../../../public/images/MobileBanner\ png.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: -115px;
  }
}


