.MeetOurTeam {
  background: #051509;
  padding: 100px 0px;
}
.meetOurTeamMobile {
  display: none;
}
.MemberProfil {
  background: #1a2a1e;
  width: 500px;
  height: 785px;
  text-align: center;
  position: relative;
}

.MemberCardOne {
  background: #3e4b41;
  width: 440px;
  height: 436px;
  text-align: center;
  position: absolute;
  left: 32px;
  top: 32px;
}

.MemberCardTwo {
  background: #4a574d;
  width: 420px;
  height: 416px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 10px;
  padding-top: 15px;
}

.MemberCardText {
  padding-top: 500px;
  color: aliceblue;
}

.MemberCardText h2 {
  color: #ffffff;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  font-family: 'Montserrat-Regular';
}

.MemberCardText h6 {
  color: #a3a3a3;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-family: 'Jost';
}

.MemberCardText p {
  color: #fafafa !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 400 !important;
  font-family: 'Montserrat-Regular' !important;
  width: 440px !important;
  margin: auto !important;
  text-align: center !important;
}

.MemberCardIcons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 215px;
  margin: auto;
  margin-top: 20px;
}

.meetOurTeamTab{
  display: none;
}

.MeetMemberRight {
  color: #fafafa;
  margin-left: 80px;
  position: relative;
}

.MeetMemberRight h1 {
  text-align: right;
  font-size: 56px;
  line-height: 70px;
  font-family: 'futura-bold';
  text-transform: uppercase;
  /* margin-bottom: 160px; */
  font-weight: 600;
  color: #ffffff;
}

.MeetMemberRight p {
  text-align: right;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat-Regular';
  font-weight: 500;
  color: #a3a3a3;
  width: 460px;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.cataCon {
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}
/* width */
.cataCon::-webkit-scrollbar {
  display: none;
}
/* Track */
.cataCon::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey; */
  border-radius: 5px;
}
/* Handle */
.cataCon::-webkit-scrollbar-thumb {
  background: #179bd7;
  border-radius: 5px;
}
/* Handle on hover */
.cataCon::-webkit-scrollbar-thumb:hover {
  background: #179bd7;
}

.MeetMemberCarousel {
  width: 100%;
  height: 600px;
  position: relative;
}

.MeetMemberCarousel .nextIcon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.MeetMemberCarousel .MeetMemberCarouselItam {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.CarouselItam {
  margin: 20px;
}

.CarouselItam p {
  text-align: center;
  margin: auto;
  font-size: 14px;
  font-family: 'Jost';
  font-weight: 400;
  line-height: 17px;
  width: 100px;
}

.CarouselItam h3 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Jost';
  color: #ffffff;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
}

.MeetMemberCarousel .SlideIcon {
  text-align: right;
}

.SlideIcon button {
  background: inherit !important;
  border: none !important;
}
.RoadMapSlider {
  width: 100%;
  position: absolute;
  right: 0;
  margin-left: 100px;
  height: 600px;
}
.meetOurTeamSliderButtonArea {
  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: end;
}

.leftArrow {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin-top: -630px;
  margin-right: 30px;
}
.rightArrow {
  position: relative;
  width: 200px;
  transform: rotate(180deg);
  height: 48px;
  cursor: pointer;
  /* margin-top: -500px;
  margin-left: 400px; */
  margin-top: -630px;

  margin-left: 780px;
  padding: 20px;
}
.carousleItemElement {
  width: 100%;
  height: 550px;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* gap: 15px; */
  /* flex-wrap: wrap; */
}
.teamImage {
  position: relative;
  width: 92%;
  height: 70%;
}
.teamMemberContainer {
  width: 100%;
  margin-left: 10px;
  height: 100%;
  cursor: pointer;
}
.teamMemberContainer h3 {
  font-family: 'Jost';
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 0.2em;
}
.teamMemberContainer h4 {
  font-size: 12px;
  color: #a3a3a3;
  text-align: center;
  font-family: 'Jost';
}

.carousleItemElementExtra{
  display: none;
}


/* Media Query for Mobile Devices */
@media  (max-width: 390px) {
  .cardSLiderTwo{
    height: 26vh;
  }
}



/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .MeetOurTeam {
    height: 1700px;
    display: none;
  }
  .meetOurTeamMobile {
    width: 100%;
    height: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    background: #051509;
  }
  .meetOurTeamMobile h1 {
    text-align: center;
    font-size: 56px;
    line-height: 70px;
    font-family: 'futura-bold';
    text-transform: uppercase;
    padding-top: 40px;
    font-weight: 600;
    color: #ffffff;
  }
  .meetOurTeamMobile p {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat-Regular';
    line-height: 20px;
    color: #fafafa !important;
    text-align: center;
    margin: 40px 20px;
  }
  .cardSlider {
    width: 90vw;
    height: 750px;
    background: #1a2a1e;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }
  .cardSlider h2 {
    font-family: 'Montserrat-Medium';
    text-transform: uppercase;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    margin-top: 14px;
  }
  .meetOurTeamMobile h5 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat-Regular';
    line-height: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  /* .cardSLiderOne {
    width: 57vw;
    height: 40vh;    
    background: #3e4b41;
    margin: auto;
  } */


  .cardSLiderTwo img{
    height: auto !important;
    width: 100px !important;
    margin: auto !important;
    text-align: center;
  }


  .cardSLiderTwo {
    width: 26vh;
    height: auto;    
    background: #4a574d;
    padding: 10px;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
    margin: auto;
    text-align: center;
  }


  .teamMemberContainer {
    width: 40%;
    margin-left: 10px;
    height: 230px;
    cursor: pointer;
  }
  .MeetMemberRight h1 {
    text-align: center;
  }
  .MeetMemberRight {
    margin-left: 0;
  }
  .MeetMember h1 {
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
  }

  .MeetMember p {
    text-align: left;
    margin-right: auto;
  }

  .MeetMemberCarousel .MeetMemberCarouselItam {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow: hidden;
  }

  .MemberProfil {
    background: #1a2a1e;
    width: 347px !important;
    height: 721px;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  .MemberCardOne {
    background: #3e4b41;
    width: 324px !important ;
    height: 338px !important;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .MemberCardTwo {
    background: #4a574d;
    width: 302px !important;
    height: 308px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
    padding-top: 0;
  }
  .MemberCardText h2 {
    margin-top: -100px;
  }
  .MemberCardText p {
    color: #fafafa !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    font-family: 'Jost' !important;
    width: 296px !important;
    margin: auto !important;
    text-align: center !important;
    margin-bottom: 51px !important;
  }

  .MeetMember h1 {
    font-size: 39px;
    line-height: 70px;
    font-family: 'futura-bold';
    font-weight: 600;
    color: #ffffff;
    text-align: center !important
    ;
  }

  .meetMemberPara {
    text-align: center !important;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Jost';
    font-weight: 300 !important;
    color: #fafafa;
    width: 300px !important;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 50px;

    margin-left: 34px !important;
  }

  .RoadMapSlider {
    width: 100%;
    margin-left: 0px;
    height: 520px !important;
    overflow: hidden;
    padding-left: 40px;
    margin-top: -40px;
  }

  .leftArrow {
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .rightArrow {
    position: relative;
    width: 48px;

    height: 48px;
    cursor: pointer;
    /* margin-top: -500px;
    margin-left: 400px; */
    margin-top: 0px;

    margin-left: -90px;
    padding: 20px;
  }
  
}

@media screen and (min-width: 426px) and (max-width: 769px){
  .meetOurTeamSliderButtonArea{
    /* display: none; */
  }
  .meetOurTeamTab{
    display: block;
  }
  /* .RoadMapSlider{
    display: block;
  } */
}



@media screen and (min-width: 768px) and (max-width: 1039px){
  .carousleItemElement {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    height: 100%;
  }
  .teamMemberContainer {
    width: 100% !important;
    margin-left: 10px;
    height: 265px;
    cursor: pointer;
  }
  .meetOurTeamSliderButtonArea{
    /* display: none; */
  }
  .MeetOurTeam{
    padding: 20px 0px 40px 0px;
  }
  .meetOurTeamTab{
    display: none;
  }
}


@media screen and (min-width: 983px) and (max-width: 1040px) {

  .rightArrow {
    position: relative;
    width: 200px;
    transform: rotate(180deg);
    height: 48px;
    cursor: pointer;
    /* margin-top: -500px;
    margin-left: 400px; */
    margin-top: -630px;
  
    margin-left: 605px;
    padding: 20px;
  }
  .leftArrow {
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
    
    margin-top: -630px;
    margin-right: -2px;
    margin-left: -15px !important;

  }
  .MeetMemberRight p{
    padding: 0px 22px
;
margin-right: -23px;
  }
  .teamMemberContainer h4{
    font-size: 9px;
  }
  .teamMemberContainer h3{
    font-size: 13px;
  }
  .RoadMapSlider {
    width: 440px;
    margin-left: 135px;
    /* height: 460px !important; */
    overflow: hidden;
  }
  .MemberProfil {
    background: #1a2a1e;
    width: 500px;
    height: 797px;
    text-align: center;
    position: relative;
  }
  .carousleItemElement {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 5px; */
    /* flex-wrap: wrap; */
  }
  .teamMemberContainer {
    width: 100%;
    margin-left: 10px;
    height: 265px;
    cursor: pointer;
  }
  .teamImage {
    position: relative;
    width: 90%;
    height: 40%;
  }
  .meetMemberPara {
    border: 2px solid transparent;
    width: 380px;
  }
  /* .rightArrow {
  } */
  .leftArrow {
    margin-left: 50px;
  }
  
}



@media screen and (min-width: 767px) and (max-width: 983px) {
  .teamMemberContainer h3{
    font-size: 13px;
  }
  .teamImage{
    height: 61%;
  }
  .MemberProfil {
    background: #1a2a1e;
    width: 377px;
    height: 735px !important;
    text-align: center;
    position: relative;
    margin-top: 147px;
  }
  .MeetMemberRight {
    color: #fafafa;

    margin-left: 0px;
    position: relative;
  }
  .MeetMember {
    width: 50% !important;
  }
  .MemberCardOne {
    background: #3e4b41;
    width: 357px;
    height: 330px !important;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .MemberCardTwo {
    background: #4a574d;
    width: 310px;
    height: 300px;
    text-align: center;
    position: absolute;
    left: 24px;
    top: 15px;
    overflow: hidden;
    padding-top: 0;
  }

  .MemberCardText {
    padding-top: 383px;
    color: aliceblue;
  }
  .MemberCardText p {
    color: #fafafa !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    font-family: 'Jost' !important;
    width: 374px !important;
    /* margin: auto !important; */
    text-align: center !important;
    margin-right: 78px !important;padding: 16px 20px;
  }

  .MeetMember h1 {
    text-align: right;
    font-size: 35px;
    line-height: 70px;
    font-family: 'futura-bold';
    font-weight: 600;
    color: #ffffff;
  }
  .meetMemberPara {
    text-align: center !important;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Jost';
    font-weight: 500;
    color: #fafafa;
    width: 300px !important;
    margin-left: 110px !important;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  /* .RoadMapSlider {
    width: 340px;
    margin-left: 135px;
    height: 500px !important;
    overflow: hidden;

    margin-top: -60px;
  } */

  .leftArrow {
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-top: -912px;
    margin-right: 60px;
    padding: 20px;
    margin-left: 10px;
  }
  .rightArrow {
    position: relative;
    width: 200px;

    height: 48px;
    cursor: pointer;
    /* margin-top: -500px;
    margin-left: 400px; */
    margin-top: -912px;

    margin-left: 494px;
    padding: 20px;
  }
  .MeetMemberRight h1 {
    text-align: center;
    margin-left: -320px;
  }
  .MeetMemberRight p {
    margin-left: 24px !important;
  }
  .RoadMapSlider {
    padding-left: 34px;
  }
  .teamMemberContainer {
    width: 40%;
    margin-left: 10px;
    height: 200px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .leftArrow {
    margin-right: 0px;
  }
  .rightArrow {
    margin-left: 990px !important;
  }
  .meetOurTeamTab{
    display: none !important;
  }
}
