.SecondSliderContainer {
  margin-top: 15px;
  overflow: hidden;
}

.FirstSlider {
  margin-right: -100px;
}

.SecondSlider {
  margin-left: -100px;
}

@media only screen and (min-width: 1441px) and (max-width: 3000px) {
  .SecondSliderContainer {
    margin-top: 40px;
    overflow: hidden;
  }
}
