.menuAll {
  display: flex;
  width: 1336px;
  justify-content: end;
}

.textWhite {
  color: red;
}

.searchInput {
  background: #2c2f33;
  border-radius: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #ffffe5;
  width: 350px;
}

.navContainer {
  /* width: 95%; */
  margin: 0 auto;
}

.connectWalletBtns {
  background: #75ba87;
  color: #1a1a1a;
  padding: 11px 0px;
  border: 1px solid #75ba87;
  transition: 0.5s;
  font-weight: 200;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  width: 174px;
  height: 50px;
  margin-top: 5px;
  text-transform: uppercase;
}

.disWalletBtn {
  background: #75ba87;
  color: #1a1a1a;
  padding: 11px 0px;
  border: 1px solid #75ba87;
  transition: 0.5s;
  font-weight: 200;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  width: 200px;
  height: 50px;
  margin-top: 5px;
  text-transform: uppercase;
}

.navLink {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  /* identical to box height, or 600% */
  color: #a3a3a3 !important;
  transition: 0.5s;
  text-transform: uppercase;
}

.navLinkActive {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  /* identical to box height, or 600% */
  color: white !important;
  transition: 0.5s;
  text-transform: uppercase;
  height: 55px;
  display: flex;
  align-items: center;
}

.socialIcon {
  font-family: "Montserrat-Regular", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  /* identical to box height, or 600% */
  margin-top: 4px;
  color: #fafafa !important;
  transition: 0.5s;
}

.navLink:hover {
  color: #ffffff !important;
}

.BorderBottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #9a9aa9 !important;
}

.navbar {
  display: block !important;
}

.MobileLogoButton {
  display: none;
}

.SocailMedIcon {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.SocailMedIcon li {
  margin: 0px 7.5px;
  line-height: 60px;
}

.NavbarItam .Muneleft {
  margin-left: 75px !important;
}

.LogoImage {
  position: relative;
  height: 33px;
  width: 120px;
  margin-top: 10px;
  cursor: pointer;
}

.MobileButton {
  display: none;
}

.connectWalletBtnS {
  background: #75ba87;
  color: #1a1a1a;
  padding: 11px 0px;
  border: 1px solid #75ba87;
  transition: 0.5s;
  font-weight: 200;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  width: 160px;
  height: 55px;
  margin-top: 0px;
  text-transform: uppercase;
}

/* Media Query for Mobile Devices */

@media (min-width: 1600px) and (max-width: 3000px) {
  /* .menuAll {
    display: flex !important;
    width: 2005px !important;
    margin-top: -3px !important;
  } */
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .MobileLogoButton {
    display: block;
    display: flex;
    height: 30px !important;
  }

  .menuAll {
    display: block !important;
    width: 100% !important;
  }

  .MobileButton {
    display: none !important;
  }
  .SocailMedIcon {
    margin-top: 0px !important;
  }

  .SocailMedIcon li {
    margin-right: 20px !important;
    line-height: 60px !important;
    margin-left: 0px !important;
  }

  .MobileButton {
    margin: 0px !important;
    padding: 10px 10px !important;
    background: #75ba87;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Montserrat-Regular";
    border: 0px !important;
    color: #1a1a1a;
    width: 160px;
    height: 45px;
    margin-top: -12px;
    text-transform: uppercase;
  }

  .NavbarItam .PCImage {
    display: none !important;
  }

  .SocailMedIcon .SocailMedIcon {
    display: flex;
  }

  .MobileNabButton {
    margin-left: auto;
  }

  .NavbarItam .Muneleft {
    margin-left: 0px !important;
  }

  .NavbarItam ul .connectWalletBtn {
    display: block;
  }

  .LogoImage {
    display: none;
  }

  .SocailMedIcon .SocailMedIcon li {
    margin-right: 32px;
  }
  .navLinkTooo {
    display: block;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 769px) and (max-width: 1080px) {
  .NavbarItam ul .connectWalletBtn {
    display: block;
  }
  .NavbarItam ul .connectWalletBtnS {
    display: block;
    width: 150px;
    height: 68px;
  }
  .navLinkTooo {
    display: block;
  }
  .SocailMedIcon li {
    margin: 0px -22.5px;
    line-height: 60px;
  }
  .MobileButton {
    display: none !important;
  }
}
@media (min-width: 640px) and (max-width: 1080px) {
  .MobileLogoButton {
    display: block;
    display: flex;
    height: 30px !important;
  }

  .menuAll {
    display: block !important;
    width: 100% !important;
  }

  .MobileButton {
    display: block !important;
  }

  .SocailMedIcon {
    margin-top: 0px !important;
  }

  .SocailMedIcon .SocailMedIcon li {
    margin-right: 32px;
  }

  .socialIcon {
    margin-right: 20px !important;
  }

  .collapse {
    display: none !important;
  }

  .MobileButton {
    margin: 0px !important;
    padding: 10px 10px !important;
    background: #75ba87;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Montserrat-Regular";
    border: 0px !important;
    color: #1a1a1a;
    width: 160px;
    height: 45px;
    margin-top: -12px;
    text-transform: uppercase;
  }

  .NavbarItam .PCImage {
    display: none !important;
  }

  .SocailMedIcon .SocailMedIcon {
    display: flex;
  }

  .SocailMedIcon .SocailMedIcon li {
    margin-right: 32px !important;
  }

  .MobileNabButton {
    margin-left: auto;
  }

  .NavbarItam .Muneleft {
    margin-left: 0px !important;
  }

  .NavbarItam ul .connectWalletBtn {
    /* display: none; */
  }

  .LogoImage {
    display: none;
  }

  .NavbarItam ul li {
    margin-left: 0px !important;
  }

  .SocailMedIcon .SocailMedIcon li {
    margin-right: 32px;
  }
  .navLinkTooo {
    display: block;
  }
  .connectWalletBtnS {
    display: block;
    width: 170px;
  }
  .MobileButton {
    display: none !important;
  }
}

@media (min-width: 825px) and (max-width: 1180px) {
  .MobileLogoButton {
    display: none !important;
  }

  .LogoImage {
    display: block !important;
  }

  .menuAll {
    display: flex !important;
    width: 590px !important;
    margin-top: 0px !important;
  }

  .MobileButton {
    margin-top: 10px !important;
  }
}

@media (min-width: 1081px) and (max-width: 1440px) {
  .menuAll {
    display: flex !important;
    width: 870px !important;
    justify-content: end !important;
  }

  .SocailMedIcon li {
    margin-left: 0px !important;
  }
}

@media (min-width: 1070px) and (max-width: 1350px) {
  .menuAll {
    display: flex !important;
    width: 100% !important;
    justify-content: end !important;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 1442px) and (max-width: 2000px) {
  .menuAll {
    display: flex !important;
    width: 950px !important;
    justify-content: end !important;
  }
}
