.textWhite {
  color: red;
}

.searchInput {
  background: #2c2f33;
  border-radius: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #ffffe5;
  width: 350px;
}

.navContainer {
  /* width: 95%; */
  margin: 0 auto;
}

.connectWalletBtn {
  background: #75ba87;
  color: #1a1a1a;
  padding: 11px 0px;
  border: 1px solid #75ba87;
  transition: 0.5s;
  font-weight: 500;
  font-family: "Jost";
  font-size: 16px;
  width: 160px;
  height: 50px;
  margin-top: 10px;
}

.connectWalletBtn:hover {
  color: #75ba87;
  color: #1a1a1a;
  border: 1px solid #75ba87;
}

.navLink {
  font-family: "Jost", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  /* identical to box height, or 600% */
  color: #a3a3a3 !important;
  transition: 0.5s;
  text-transform: uppercase;
}

.navLinkActive {
  font-family: "Jost", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  /* identical to box height, or 600% */
  color: white !important;
  transition: 0.5s;
  text-transform: uppercase;
  height: 55px;

  display: flex;
  align-items: center;
}

.socialIcon {
  font-family: "montserrat", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  /* identical to box height, or 600% */
  margin-top: 4px;
  color: #fafafa !important;
  transition: 0.5s;
}

.navLink:hover {
  font-style: normal;
  font-size: 18px;
  /* identical to box height, or 600% */

  color: #ffffff !important;
}

.BorderBottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #9a9aa9 !important;
}

.navbar {
  display: block !important;
}

.MobileLogoButton {
  display: none;
}

.SocailMedIcon {
  display: flex;
}

.SocailMedIcon li {
  margin-left: 20px;
  line-height: 60px;
}

.NavbarItam .Muneleft {
  margin-left: 75px !important;
}

.LogoImage {
  position: relative;
  height: 33px;
  width: 120px;
  margin-top: 10px;
  cursor: pointer;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .MobileLogoButton {
    display: block;
    display: flex;
    height: 30px !important;
  }

  .MobileButton {
    margin-left: auto;
    padding: 10px 24px !important;
    background: #75ba87;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Jost", sans-serif;
    border: 0px !important;
    color: #1a1a1a;
    width: 155px;
    height: 45px;
    margin-top: -10px;
  }

  .NavbarItam .PCImage {
    display: none !important;
  }

  .SocailMedIcon .SocailMedIcon {
    display: flex;
  }

  .SocailMedIcon .SocailMedIcon li {
    margin-right: 32px;
  }

  .MobileNabButton {
    margin-right: 30px;
  }

  .NavbarItam .Muneleft {
    margin-left: 0px !important;
  }

  .NavbarItam ul .connectWalletBtn {
    display: none;
  }

  .LogoImage {
    display: none;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 640px) and (max-width: 1040px) {
  .MobileLogoButton {
    display: block;
    display: flex;
    height: 30px !important;
  }

  .MobileButton {
    margin-left: auto;
    padding: 10px 24px !important;
    background: #75ba87;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Jost", sans-serif;
    border: 0px !important;
    color: #1a1a1a;
    width: 155px;
    height: 45px;
    margin-top: -10px;
  }

  .NavbarItam .PCImage {
    display: none !important;
  }

  .SocailMedIcon .SocailMedIcon {
    display: flex;
  }

  .SocailMedIcon .SocailMedIcon li {
    margin-right: 32px !important;
  }

  .MobileNabButton {
    margin-right: 30px;
  }

  .NavbarItam .Muneleft {
    margin-left: 0px !important;
  }

  .NavbarItam ul .connectWalletBtn {
    display: none;
  }

  .LogoImage {
    display: none;
  }

  .NavbarItam ul li{
    margin-left: 0px !important;
  }


  .SocailMedIcon .SocailMedIcon li {
    margin-right: 32px;
  }


}
