.FaqAota {
  background-image: linear-gradient(#0c1f11, #051509);
  padding: 50px 0px;
}

.FaqPrime h1 {
  color: #75ba87;
  font-size: 24px;
  font-family: 'Montserrat-Medium';
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  line-height: 30px;
}

.FaqPrime h3 {
  color: #fafafa;
  font-size: 48px;
  font-family: 'futura-bold';
  text-transform: uppercase;

  font-weight: 500;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.FaqPrime p {
  color: #a3a3a3;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  font-weight: 500;
  line-height: 20px;
}

.qaSection {
  width: 675px;
  padding: 10px;
  border-bottom: 1px solid white;
}
.qaSection:last-child {
  border-bottom: none;
}
.questions {
  justify-content: space-between;
  display: flex;
}
.plusIcon {
  height: 28px;
  width: 28px;

  position: relative;
  cursor: pointer;
}
.questions p {
  font-size: 24px;
  color: #ffffff;
  transition: all 0.9s ease;
}
.answerPara {
  font-weight: 500;
  font-size: 16px;
  color: #a3a3a3;
} .plusMinusIcon{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media screen and (max-width: 637px) {
  .qaSection {
    width: 382px;
    border-bottom: 1px solid #75ba87;
  }
  .questions p {
    font-size: 14px;
    color: #ffffff;
    transition: all 0.9s ease;
  }
  .FaqPrime h3 {
    font-size: 32px !important;
  }
  .plusMinusIcon{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
@media screen and (max-width: 1040px) {
  .questions p {
    font-size: 15px;
    width: 80%;
  }
  .qaSection {
    width: 98%;
    border-bottom: 1px solid #75ba87;
  }
  .plusMinusIcon{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
@media screen and (min-width: 983px) and (max-width: 1040px) {
  .qaSection {
    width: 500px;
  }
  .plusMinusIcon{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
