.AveBanner {
  background-image: linear-gradient(#0c1f11, #051509);
  padding: 50px 0px 0px;
}

.AveBannerText h1 {
  font-size: 48px;
  font-weight: 500;
  font-family: "Montserrat-Regular";
  line-height: 60px;
  color: #ffffff;
}

.AveBannerText p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Jost";
  line-height: 20px;
  color: #75ba87;
  margin-bottom: 53px;
  margin-top: 15px;
}

.AveBannerImage {
  background: #0b1b0f;
  height: 535px;
  margin: 0px;
  padding: 0px;
  width: 50%;
}

 
.TheAvePhoto .AvePhoto .yoga{
  background-image: url("../../../public/images/image 21.png");
  height: 218px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}


.TheAvePhoto .AveThePhoto .yoga{
  background-image: url("../../../public/images/image 22.png");
  height: 284px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}


.PhotoOne {
  margin-bottom: 10px;
  margin-left: 10px;
}

.PhotoTwo {
  margin-left: 10px;
}

.TheAve .TheAveText h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #75ba87;
  font-family: "Montserrat-Regular";
}

.TheAveText h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat-Regular";
  margin-top: 20px;
  margin-bottom: 32px;
}


.TheAveText p {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: #A3A3A3;;
  font-family: "Jost";
  width: 1200px !important;
  margin-bottom: 60px;
}


.TheAveImage {
  position: relative;
  width: 50%;
  padding: 0px;
  margin: 0px;
  height: 535px;
}

.AveTextOne {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 500;
  font-family: "Montserrat-Regular";
  line-height: 60px;
  cursor: pointer;
}

.AvePhotoText {
  position: absolute;
  top: 50%;
  left: 41%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.AvePhotoText h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: "Montserrat-Regular";
  line-height: 60px;
  width: 253px;
}

.AveThePhotoText {
  position: absolute;
  top: 50%;
  left: 41%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.AveThePhotoText h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: "Montserrat-Regular";
  line-height: 60px;
  width: 310px;
}

.TheAvePhoto .AvePhoto {
  margin-bottom: 15px;
  margin-left: 20px;
  position: relative;
}

.TheAvePhoto .AveThePhoto {
  margin-left: 20px;
  position: relative;
}

.CoWorking {
  background: #17271b;
  width: 1300px;
  margin-left: 100px;
  margin-top: 50px;
}

.CoWorkingPart {
  background: #203024;
  text-align: center;
  padding: 30px;
  margin-left: 10px;
  width: 70%;
}

.CoWorkingPart p {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  font-family: "Montserrat-Regular";
  color: #ffffff;
  width: 617px;
  margin: auto;
  padding: 20px 0px;
}

.BackIcon {
  text-align: left;
  position: relative;
  height: 47px;
  width: 60px;
  margin-top: 30px;
}

.CoWorkingPart .Pasicon {
  text-align: right;
  position: relative;
  width: 64px;
  margin-left: auto;
  height: 50px;
  margin-right: 50px;
  margin-top: -25px;
}

.CoWorkingImage {
  width: 30%;
}




.row {
  width: 100%;
  display: flex;
}
.yoga {
  width: 328px;
  height: 250px;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 637px) {
  .AveTextOne {
    left: 50%;
    top: 50%;
  }

  .AveTextOne h1 {
    font-size: 24px;
  }


  .TheAvePhoto{
    display: flex;    
    gap: 10px;
  }

  .TheAvePhoto .AvePhoto{
    margin-left: 0px !important;
  }


  .TheAvePhoto .AvePhoto .yoga{
    background-image: url("../../../public/images/image 21.png");
    height: 118px;
    width: 196px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    
  }
  
  
  .TheAvePhoto .AveThePhoto .yoga{
    background-image: url("../../../public/images/image 22.png");
    height: 118px;
    width: 196px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
  }


  .TheAveText p {
    width: 350px !important;
  }
  .AveTextOne p {
    text-align: center;
    margin-top: -145px;
    width: 234px;
  }
  .AveBannerText h1 {
    font-size: 24px;
    margin-top: -52px;
    margin-bottom: 20px;
    line-height: 30px;
  }

  .AveBannerText p {
    font-size: 16px;
    width: 288px;
  }
  
  .AveBannerImage {
    width: 100%;
    height: 350px;;
    
  }



  .AvePhoto{
    width: 196px !important;
    height: 118px !important;
  }


  .AveThePhoto{
    width: 196px !important;
    height: 118px !important;
  }


  .AveBannerPhoto {
    display: flex;
    margin-top: 30px;
  }

  .TheAveImage{
    width: 100% !important;
    height: 350px !important;
  }

  .TheAveImage img {
    width: 414px !important;
    height: 328px !important;
  }

  .TheAvePhoto {
    width: 100%;
    display: flex;
  }

  .AveThePhotoText h1 {
    font-size: 10px !important;
  }

  .AvePhotoText h1 {
    font-size: 15px !important;
  }

  .AvePhotoText {
    left: 75%;
    top: 50%;
  }

  .AveThePhotoText {
    left: 100%;
    top: 50%;
  }

  .AveThePhoto img {
    height: 110px !important;
    width: 400px !important;
  }

  .AvePhotoText h1 {
    font-size: 12px !important;
  }

  .row {
    flex-direction: column-reverse;
    width: 100%;
    display: flex;
  }

  .CoWorkingImage img {
    width: 684px !important;
    height: 575px !important;
  }

  .CoWorkingPart {
    background: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .CoWorkingPart p {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    font-family: "Montserrat-Regular";
    color: #ffffff;
    width: 370px;
    margin: 0px;
    padding: 20px 0px;
  }

  .CoWorkingPart .Pasicon {
    text-align: left;
    margin-left: 300px;
    height: 30px;
    width: 40px;
  }
  .TheAvePhoto .AvePhoto {
    height: 90px;
    width: 354px;
    position: relative;
  }
  .yoga {
    margin-left: 0px;
    height: 100px !important;
    width: 150px;
    margin-left: 0px !important;
    position: relative;
  }

  .CoWorking {
    margin: 0 !important;
  }


  .BackIcon {
    text-align: left;
    position: relative;
    height: 30px;
    width: 40px;
  }

  .TheAvePhoto .AveThePhoto {
    margin-left: 0px !important;
    
  }


  
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 640px) and (max-width: 1040px) {
  .AveBannerText h1 {
    font-size: 32px;
  }

  .BackIcon{
    margin-top: 0px !important;
  }

  .AveBannerText p {
    font-size: 16px;
    width: 400px;
  }

  .AveBannerImage {
    width: 50%;
    height: 350px;
  }

  .AveBannerPhoto {
    margin-bottom: 30px;
  }


  .yoga {
    width: 328px;
    height: 161px;
    margin-bottom: 20px;
  }


  .TheAvePhoto .AvePhoto .yoga{
    background-image: url("../../../public/images/image 21.png");
    height: 155px;
    width: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  
  .TheAvePhoto .AveThePhoto .yoga{
    background-image: url("../../../public/images/image 22.png");
    height: 165px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
  }


  
  .TheAveText p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    font-family: "Jost";
    width: 700px !important;
    margin-bottom: 40px;
  }

  .TheAveImage {
    width: 50%;
    height: 360px;

  }

  .TheAveImage img {
    height: 340px !important;
    width: 680px !important;
  }

  .TheAvePhoto {
    width: 50%;
  }

  .AveTextOne {
    top: 50%;
  }

  .TheAveImage .AveTextOne h1 {
    font-size: 34px !important;
    width: 270px;
  }

  .row {
    width: 100%;
    display: flex;
  }

  .CoWorkingPart {
    width: 70%;
    height: 330px;
  }

  .CoWorkingPart p {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    font-family: "Montserrat-Regular";
    color: #ffffff;
    width: 410px;
    margin: auto;
    padding: 20px;
  }

  .CoWorkingPart .Pasicon {
    text-align: right;
    margin-right: 30px;

  }

  .AvePhotoText {
    left: 65%;
  }

  .AveThePhotoText {
    left: 70%;
  }

  .AveThePhotoText h1 {
    font-size: 18px;
  }

  .AvePhotoText h1 {
    font-size: 18px;
  }

  .CoWorkingImage img {
    height: 400px !important;
  }


  .CoWorking {
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }

  .CoWorkingImage {
    width: 30%;
    height: 169px;
    margin-top: -50px;
  }



}


/* 
@media (min-width: 1041px) and (max-width: 1479px) {




} */

@media (min-width: 1480px) and (max-width: 2800px) {


  .CoWorking{
    margin: 0 auto !important;
    margin-bottom: 50px !important;
   
  }


}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 1041px) and (max-width: 1500px) {
  .AveBannerText h1 {
    font-size: 32px;
  }

  .TheAveImage img{
    height: 521px !important;
    width: 701px !important;
  }
   

  .AveBannerText p {
    font-size: 16px;
    width: 400px;
  }

  .AveBannerImage {
    width: 50%;
    height: 350px;
  }

  .AveBannerPhoto {
    margin-bottom: 30px;
  }


  .yoga {
    width: 100%;
    height: 161px;
    margin-bottom: 20px;
  }

  
  .TheAveText p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  
    font-family: "Jost";
    width: 700px;
    margin-bottom: 40px;
  }

  .TheAveImage {
    width: 50%;
    height: 360px;

  }

  

  .TheAvePhoto {
    width: 50%;
  }

  .AveTextOne {
    top: 50%;
  }

  .TheAveImage .AveTextOne h1 {
    font-size: 34px !important;
    width: 270px;
  }

  .row {
    width: 100%;
    display: flex;
  }

  .CoWorkingPart {
    width: 70%;
    height: 330px;
  }

  .CoWorkingPart p {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    font-family: "Montserrat-Regular";
    color: #ffffff;
    width: 410px;
    margin: auto;
    padding: 20px;
  }

  .CoWorkingPart .Pasicon {
    text-align: right;
    margin-right: 30px;

  }

  .AvePhotoText {
    left: 50%;
  }

  .AveThePhotoText {
    left: 50%;
  }

  .AveThePhotoText h1 {
    font-size: 32px;
  }

  .AvePhotoText h1 {
    font-size: 32px;
  }

  .CoWorkingImage img {
    height: 400px !important;
  }


  .CoWorking {
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }

  .CoWorkingImage {
    width: 30%;
    height: 169px;
    margin-top: -50px;
  }

}
