.AveBanner {
  background-image: linear-gradient(#0c1f11, #051509);
  padding: 50px 0px 0px;
}

.AveBannerText h1 {
  font-size: 48px;
  font-weight: 500;
  font-family: 'futura-bold';
  text-transform: uppercase;
  line-height: 60px;
  color: #ffffff;
}

.AveBannerText p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat-Medium';
  text-transform: uppercase;

  line-height: 20px;
  color: #75ba87;
  margin-bottom: 53px;
  margin-top: 15px;
}

.AveBannerImage {
  background: #0b1b0f;
  height: 535px;
  margin: 0px;
  padding: 0px;
  width: 50%;
}

/* .TheAvePhoto .AvePhoto .yoga {
  background-image: url('../../../public/images/image 21.png');
  height: 218px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .TheAvePhoto .AveThePhoto .yoga {
  background-image: url('../../../public/images/image 22.png');
  height: 284px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */


.PhotoOne {
  margin-bottom: 10px;
  margin-left: 10px;
}

.PhotoTwo {
  margin-left: 10px;
}

.TheAve .TheAveText h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #75ba87;
  font-family: 'futura-bold';
  text-transform: uppercase;
}

.TheAveText h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  font-family: 'Montserrat-Light';
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.TheAveText p {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: #a3a3a3;
  font-family: 'Jost';
  width: 1200px !important;
  margin-bottom: 60px;
}

.TheAveImage {
  position: relative;
  width: 50%;
  padding: 0px;
  margin: 0px;
  height: 535px;
  cursor: pointer;
}

.AveTextOne {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 500;
  font-family: 'futura-bold';
  line-height: 60px;
  cursor: pointer;
}

.AvePhotoText {
  position: absolute;
  top: 50%;
  left: 41%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.AvePhotoText h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: 'futura-bold';
  line-height: 28px;

}

.AveThePhotoText {
  position: absolute;
  top: 50%;
  left: 41%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.AveThePhotoText h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: 'futura-bold';
  line-height: 33px;
 
}

.TheAvePhoto .AvePhoto {
  margin-bottom: 15px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.TheAvePhoto .AveThePhoto {
  margin-left: 20px;
  position: relative;
}

.CoWorking {
  background: #17271b;
  width: 100%;
  margin-left: 100px;
  margin-top: 50px;
}

.CoWorkingPart {
  background: #203024;
  text-align: center;
  padding: 30px;
  margin-left: 10px;
  width: 70%;
}

.CoWorkingPart p {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  font-family: 'Montserrat-Regular';
  color: #ffffff;
  width: 617px;
  margin: auto;
  padding: 20px 0px;
}

.BackIcon {
  text-align: left;
  position: relative;
  height: 32px;
  width: 42px;
  margin-top: 7px;
}

.CoWorkingPart .Pasicon {
  text-align: right;
  position: relative;

  margin-left: auto;
  width: 43px;

  height: 33px;
  margin-right: 50px;
  margin-top: -10px;
}

.CoWorkingImage {
  width: 30%;
}

.row {
  width: 100%;
  display: flex;
}
.yoga {
  width: 328px;
  height: 250px;
}
.TheAveImage:hover .aveImages{
 opacity: 0.2 !important;
}
.AvePhoto:hover .aveImages{
 opacity: 0.2 !important;
}
.AveThePhoto:hover .aveImages{
 opacity: 0.2 !important;
}
.TheAveImage:hover .AveTextOne h1{
  opacity: 1 !important;
 }
.AvePhoto:hover .AveTextOne h1{
  opacity: 1 !important;
 }
.AveThePhoto:hover .AveTextOne h1{
  opacity: 1 !important;
 }
.AveTextOne h1{
  opacity: 0.6;
}
/* Media Query for Mobile Devices */
@media screen and (max-width: 637px) {

  .AvePhoto  img{
    height: 110px !important;
  }
  .AveTextOne {
    left: 50%;
    top: 50%;
  }


  .CoWorkingImage {
    width: 100%;
  }  



  .AveTextOne h1 {
    font-size: 24px;
  }

  .TheAvePhoto {
    display: flex;
    gap: 10px;
  }

  .TheAvePhoto .AvePhoto {
    margin-left: 0px !important;
  }

  .TheAvePhoto .AvePhoto .yoga {
    background-image: url('../../../public/images/image 21.png');
    height: 118px;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .TheAvePhoto .AveThePhoto .yoga {
    background-image: url('../../../public/images/image 22.png');
    height: 118px;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .TheAveText p {
    width: 350px !important;
  }
  .AveTextOne p {
    text-align: center;
    margin-top: -145px;
    width: 234px;
  }
  .AveBannerText h1 {
    font-size: 24px;
    margin-top: -52px;
    margin-bottom: 20px;
    line-height: 30px;
  }

  .AveBannerText p {
    font-size: 16px;
    width: 288px;
  }

  .AveBannerImage {
    width: 100%;
    height: 350px;
  }

  .AvePhoto {
    width: 196px !important;
    height: 118px !important;
  }

  .AveThePhoto {
    width: 196px !important;
    height: 118px !important;
  }

  .AveBannerPhoto {
    display: flex;
    margin-top: 30px;
  }

  .TheAveImage {
    width: 100% !important;
    height: 350px !important;
  }

  .TheAveImage img {
    width: 414px !important;
    height: 328px !important;
  }

  .TheAvePhoto {
    width: 100%;
    display: flex;
  }

  .AveThePhotoText h1 {
    font-size: 21px  !important;
  }

  .AvePhotoText h1 {
    font-size: 15px !important;
  }

  .AvePhotoText {
  
    top: 50%;
  }

  .AveThePhotoText {
   
    top: 50%;
  }

  .AveThePhoto img {
    height: 110px !important;
    width: 400px !important;
  }

  .AvePhotoText h1 {
    font-size: 21px !important;
  }

  .row {
    flex-direction: column-reverse;
    width: 100%;
    display: flex;
  }

  .CoWorkingImage img {
    width: 684px !important;
    height: 575px !important;
  }

  .CoWorkingPart {
    background: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .CoWorkingPart p {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Montserrat-Regular';
    color: #ffffff;
    width: 365px;
    margin: 0px;
    padding: 20px 20px;
  }

  .CoWorkingPart .Pasicon {
    text-align: left;
    margin-left: 300px;
    height: 30px;
    width: 40px;
  }
  .TheAvePhoto .AvePhoto {
    height: 90px;
    width: 354px;
    position: relative;
  }
  .yoga {
    margin-left: 0px;
    height: 100px !important;
    width: 150px;
    margin-left: 0px !important;
    position: relative;
  }

  .CoWorking {
    margin: 0 !important;
  }

  .BackIcon {
    text-align: left;
    position: relative;
    height: 30px;
    width: 40px;
  }

  .TheAvePhoto .AveThePhoto {
    margin-left: 0px !important;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 640px) and (max-width: 1040px) {

  .AvePhoto  img{
    height: 156px !important;
  }

  .AveThePhoto  img{
    height: 163px !important;
  }

  .AveBannerText h1 {
    font-size: 32px;
    font-family: 'futura-bold';
  }

  .BackIcon {
    margin-top: 0px !important;
    width: 30px;
    height: 23px;
  }

  .AveBannerText p {
    font-size: 16px;
    width: 400px;
  }

  .AveBannerImage {
    width: 50%;
    height: 350px;
  }

  .AveBannerPhoto {
    margin-bottom: 30px;
  }

  .yoga {
    width: 328px;
    height: 161px;
    margin-bottom: 20px;
  }

  .TheAvePhoto .AvePhoto .yoga {
    background-image: url('../../../public/images/image 21.png');
    height: 155px;
    width: 316px;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.AvePhoto:hover .yoga{
  background: #0b1b0f;
}
  .TheAvePhoto .AveThePhoto .yoga {
    background-image: url('../../../public/images/image 22.png');
    height: 165px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .TheAveText p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    font-family: 'Jost';
    width: 700px !important;
    margin-bottom: 40px;
  }

  .TheAveImage {
    width: 50%;
    height: 360px;
  }

  .TheAveImage img {
    height: 340px !important;
    width: 680px !important;
  }

  .TheAvePhoto {
    width: 50%;
  }

  .AveTextOne {
    top: 50%;
  }

  .TheAveImage .AveTextOne h1 {
    font-size: 34px !important;
    width: 270px;
    font-family: 'futura-bold';
  }

  .row {
    width: 100%;
    display: flex;
  }

  .CoWorkingPart {
    width: 70%;
    height: 330px;
  }

  .CoWorkingPart p {
    font-size: 16.5px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Montserrat-Regular';
    color: #ffffff;
    width: 410px;
    margin: auto;
    padding: 0px 0px 0px 20px;
  }

  .CoWorkingPart .Pasicon {
    text-align: right;
    margin-right: 30px;
    width: 30px;
    height: 23px;
  }

  .AvePhotoText {
    left: 54%;
  }

  .AveThePhotoText {
    left:53%;
  }

  .AveThePhotoText h1 {
    font-size: 26px;
  }

  .AvePhotoText h1 {
    font-size: 24px;
  }

  .CoWorkingImage img {
    height: 400px !important;
  }

  .CoWorking {
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }

  .CoWorkingImage {
    width: 30%;
    height: 169px;
    margin-top: -50px;
  }
}

/* 
@media (min-width: 1041px) and (max-width: 1479px) {




} */

@media (min-width: 1480px) and (max-width: 2800px) {
  .CoWorking {
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 1041px) and (max-width: 1500px) {
  .AveBannerText h1 {
    font-size: 32px;
  }

  .TheAveImage img {
    height: 521px !important;
    width: 701px !important;
  }

  .AveBannerText p {
    font-size: 16px;
    width: 400px;
  }

  .AveBannerImage {
    width: 50%;
    height: 350px;
  }

  .AveBannerPhoto {
    margin-bottom: 30px;
  }

  .yoga {
    width: 100%;
    height: 161px;
    margin-bottom: 20px;
  }

  .TheAveText p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    font-family: 'Jost';
    width: 700px;
    margin-bottom: 40px;
  }

  .TheAveImage {
    width: 50%;
    height: 360px;
  }

  .TheAvePhoto {
    width: 50%;
  }

  .AveTextOne {
    top: 50%;
  }

  .TheAveImage .AveTextOne h1 {
    font-size: 34px !important;

  }

  .row {
    width: 100%;
    display: flex;
  }

  .CoWorkingPart {
    width: 70%;
    height: 330px;
  }

  .CoWorkingPart p {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Montserrat-Regular';
    color: #ffffff;
    width: 410px;
    margin: auto;
    padding: 20px;
  }

  .CoWorkingPart .Pasicon {
    text-align: right;
    margin-right: 30px;
  }

  .AvePhotoText {
    left: 50%;
  }

  .AveThePhotoText {
    left: 50%;
  }

  .AveThePhotoText h1 {
    font-size: 32px;
  }

  .AvePhotoText h1 {
    font-size: 32px;
  }

  .CoWorkingImage img {
    height: 400px !important;
  }

  .CoWorking {
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }

  .CoWorkingImage {
    width: 30%;
    height: 169px;
    margin-top: -50px;
  }
}
