.AveBanner{
    background-image: linear-gradient(#0C1F11, #051509);
    padding: 50px 0px;
}


.AveBannerText h1{
     font-size: 48px;
     font-weight: 500;
     font-family: "Montserrat";
     line-height: 60px;
     color: #FFFFFF;

}


.AveBannerText p{
     font-size: 16px;  
     font-weight: 400;
     font-family: "Jost";
     line-height: 20px;
     color: #75BA87;
     margin-bottom: 53px;
     margin-top: 15px;

}


.AveBannerImage{
    background:#0B1B0F; 
    height: 535px;
    margin: 0px;
    padding: 0px;
    width: 50%;
}


.PhotoOne{
    margin-bottom: 27px;
    margin-left: 32px;
}


.PhotoTwo{    
    margin-left: 32px;
}



.TheAve .TheAveText h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #75BA87;
    font-family: "Montserrat";

}




.TheAveText h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    font-family: "Montserrat";
    margin-top: 20px;
    margin-bottom: 32px;

}




.TheAveText p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #FAFAFA;
    font-family: "Jost";
    width: 1100px;
    margin-bottom: 60px;
    

}




.TheAveImage{
    position: relative;
    width: 50%;
    padding: 0px;
    margin: 0px;
    height: 535px;
}


.AveTextOne{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFFFFF;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 500;
    font-family: "Montserrat";
    line-height: 60px;
}


.AvePhotoText{
    position: absolute;
    top: 50%;
    left: 41%;
    color: #FFFFFF;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.AvePhotoText h1{
    font-size: 32px;
    font-weight: 500;
    font-family: "Montserrat";
    line-height: 60px;
    width: 253px;
}


.AveThePhotoText{
    position: absolute;
    top: 50%;
    left: 41%;
    color: #FFFFFF;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}


.AveThePhotoText h1{
    font-size: 32px;
    font-weight: 500;
    font-family: "Montserrat";
    line-height: 60px;
    width: 310px;
}


.TheAvePhoto .AvePhoto{
    margin-bottom: 15px;
    margin-left: 32px;
    position: relative;
}


.TheAvePhoto .AveThePhoto{
    margin-left: 32px;
    position: relative;
}






.CoWorking{
    background: #17271B;
    width: 1180px;
    margin-left: 100px;
    margin-top: 50px;
    
}


.CoWorkingPart{
    background: #203024;
    text-align: center;
    padding: 26px;
    margin-left: 32px;
}


.CoWorkingPart p{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    font-family: "Montserrat";
    color: #FFFFFF;
    width: 617px;
    margin: auto;

}


.CoWorkingPart .BackIcon{
    text-align: left;
}


.CoWorkingPart .Pasicon{
    text-align: right;
    margin-right: 100px;
}


.CoWorkingImage{
    width: 30%;
}







@media screen and (max-width: 600px) {
    .AveBannerText h1 {
      font-size: 24px;
    }

    .AveBannerText p{
        font-size: 16px;
        width: 288px;
      }

      .AveBannerImage{
        width: 100%;
      }


      .AveBannerPhoto{
        display: flex;
        margin-top: 30px;
      }


      .TheAveImage{
        width: 100%;
      }



      .TheAvePhoto{
        width: 100%;
        display: flex;
      }

      .AveThePhotoText h1{
        font-size: 18px;
      }

      .AvePhotoText h1{
        font-size: 18px;
      }


  }





