@font-face {
  font-family: Manic;
  src: url('../../../public/fonts/futura/Futura\ Book\ font.ttf');
}
.headingWrapper p {
  max-width: 900px;
}
.benefitsCard {
  background: #f6eae8;
}
.benefitsCard:hover {
  border: 1px solid #45c78c !important;
}

.textcenter {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 70px;
}

.benefitsCard p {
  font-size: 16px;
  font-weight: 400px;
  color: #766b6b;
  line-height: 20px;
  font-family: 'Montserrat-Regular';
}
.textMainText p {
  font-weight: 200 !important;
  font-family: 'Montserrat-Regular';
  font-size: 14px !important;
  letter-spacing: 1px !important;
  color: #766b6b !important;
}

.benefitsCard h6 {
  color: #1a1a1a;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  font-family: 'Montserrat-Regular';
}

.textCard h1 {
  color: #051509;
  font-weight: 500;
  font-family: 'futura-bold';
  font-size: 56px;
  line-height: 70px;
  width: 470px;
}

.textCard p {
  color: #484848;
  font-weight: 500;
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  line-height: 20px;
  width: 460px;
  margin-top: 20px;
}

.Donations h1 {
  color: #051509;
  font-weight: 600;
  font-family: 'futura-bold';
  font-size: 56px;
  line-height: 100px;
  border-bottom: 1px solid #d1d1d1;
}

.DonationsCard {
  margin-top: 60px;
}

.DonationsCard h4 {
  color: #051509;
  font-weight: 500;
  font-family: 'Montserrat-Regular';
  font-size: 32px;
  line-height: 40px;
  width: 528px;
  margin-bottom: 20px;
}

.DonationsCard p {
  color: #767676;
  font-weight: 400;
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  line-height: 20px;
  width: 1080px;
}

.benefitsCard .ImageShado {
  padding: 12px 12px;
}

.textCard {
  margin-top: 170px !important;
}

.Smallcard {
  display: none !important;
}

/* Media Query for Mobile Devices */
@media (max-width: 637px) {
  .AboutServiceAll {
    margin: 0px !important;
  }

  .Smallcard {
    display: block !important;
  }

  .AboutService {
    flex-direction: column-reverse;
  }

  .Smallcard {
    flex-direction: column-reverse !important;
  }

  .textMainText {
    margin-top: 30px;
  }

  .textMainText h1 {
    font-size: 24px !important;
  }

  .textCard p {
    width: 360px !important;
  }

  .textCard {
    display: none !important;
  }

  .textSmall {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px !important;
  }

  .benefitsCard p {
    width: 350px !important;
    font-weight: 400;
  }

  .benefitsCard h6 {
    font-size: 24px !important;
  }

  .Donations h1 {
    font-size: 32px;
  }

  .DonationsCard h4 {
    font-size: 24px;
    width: 382px;
  }

  .DonationsCard p {
    font-size: 16px;
    width: 100%;
  }

  .benefitsCard {
    width: 400px !important;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 640px) and (max-width: 1040px) {
  .textMainText h1 {
    font-size: 24px !important;
  }

  .benefitsCard p {
    width: 350px !important;
    font-weight: 400;
  }

  .Donations h1 {
    font-size: 32px;
  }

  .DonationsCard h4 {
    font-size: 24px;
    width: 382px;
  }

  .DonationsCard p {
    font-size: 16px;
    width: 100% !important;
  }

  .benefitsCard {
    width: 400px !important;
  }

  .textCard .textMainText p {
    width: 300px;
  }
}
