.RoadMapMain {
  background: rgb(5, 21, 9) !important;
  background: linear-gradient(
    90deg,
    rgba(5, 21, 9, 1) 51%,
    rgba(23, 47, 29, 1) 100%
  ) !important;
  min-height: 800px;
  width: 100%;
}



.RoadMapSlider {
  background: rgb(5, 21, 9) !important;
  background: linear-gradient(
    90deg,
    rgba(5, 21, 9, 1) 51%,
    rgba(23, 47, 29, 1) 100%
  ) !important;
  padding: 50px 0px;
  width: 100%;
}



.RoadMapSlider {
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}


.RoadWrapper{
  position: relative;
}


.Roadimage{
  position: absolute;
  top: 475px;
  left: 170px;
}


.RoadWrapper h1{
    font-size: 56px;
    font-weight: 600;
    line-height: 70px;
    font-family: "Montserrat";
    color: #FAFAFA;
    margin-top: 200px;
    width: 488px;
}


.RoadWrapper .Photo{
  margin-top: 108px !important;
    margin-left: 50px !important;
    position: relative;
    width: 433px;
    height: 203px;
}




.MapWrapper .imageWrapper::after {
  content: "";
  position: absolute;
  top: 350px;
  right: 90px;
  width: 360px;
  height: 557px;
  background-image: url("../../public/images/manifesto (1).png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.rideMapWrapper {
  position: relative;
}

.sliderPreviousBtn {
  position: absolute;
  top: 20rem;
  cursor: pointer;
}

.sliderNextBtn {
  position: absolute;
  top: 20rem;
  right: 0;
  cursor: pointer;
}

/* width */
.RoadMapSlider::-webkit-scrollbar {
  display: none;
}
/* Track */
.RoadMapSlider::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey; */
  border-radius: 0px;
}
/* Handle */
.RoadMapSlider::-webkit-scrollbar-thumb {
  background: #179bd7;
  border-radius: 0px;
}
/* Handle on hover */
.RoadMapSlider::-webkit-scrollbar-thumb:hover {
  background: #179bd7;
}






.RoadMapCarousel .RoadMapCarouselItam {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  margin-bottom: 200px;
  margin-left: 100px !important;
}

.RoadMapCarouselItam .CarouselItam h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  font-family: 'Montserrat';
  margin-bottom: 20px;
}

.CarouselItam ul li {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Jost';
  line-height: 23px;
  color: #c8e3cf;
  margin-bottom: 16px;
}




.RoadMapphoto  .photo{
    width: 396px !important;
    height: 567px !important;
}



.RoadMapphoto .image{
  width: 396px !important;
  height: 567px !important; 
  
}


/* Media Query for Mobile Devices */
@media  (max-width: 637px) {

  .RoadMapBanner .RoadMapText h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 70px;
    font-family: 'Montserrat';
    color: #fafafa;
    width: 316px;
    position: absolute;
    top: 55px;
    left: 10px;
  }
  .roadmapImages {
    border: 1px solid red;
  }
  .firstIMage {
    height: 100px;
    width: 100px;
    position: relative;
  }

  .RoadMapMan {
    position: absolute;
    top: 200px;
    right: 0px;
  }

  .RoadMapShap {
    position: absolute;
    top: 800px;
    left: 60px;
  }
  .RoadMapMain {
    height: 941px;
    overflow: hidden;

  }

  .RoadWrapper h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    font-family: "Montserrat";
    color: #FAFAFA;
    margin-top: 0px;
    width: 100% !important;
}


.MapWrapper .imageWrapper::after{
  display: none !important;
}

.Roadimage{
  position: absolute;
  top: 700px;
  left: 0px;
}



}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 640px) and (max-width: 1040px) {
  .RoadMapBanner .RoadMapText h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    font-family: 'Montserrat';
    color: #fafafa;
    width: 453px;
    position: absolute;
    top: 55px;
    left: 10px;
  }

  .RoadMapMan {
    position: absolute;
    top: 200px;
    right: 0px;
  }

  .RoadMapShap {
    position: absolute;
    top: 1000px;
    left: 150px;
  }

  .RoadMapMain {
    height: 1150px;
  }


  .RoadWrapper h1{
    font-size: 37px;
    font-weight: 600;
    line-height: 70px;
    font-family: "Montserrat";
    color: #FAFAFA;
    margin-top: 0px;
    width: 488px;
}


.col-md-6{
  width: 100% !important;
}


.Roadimage{
  position: absolute;
  top: 770px;
  left: 70px;
}

.sliderPreviousBtn {
  position: absolute;
  top: 11rem;
  cursor: pointer;
}

.sliderNextBtn {
  position: absolute;
  top: 11rem;
  right: 0;
  cursor: pointer;
}



}


@media (min-width: 2000px) and (max-width: 2800px) {

  .MapWrapper .imageWrapper::after{
    position: absolute;
    top: 350px;
    right: 600px;
  }


  
.sliderPreviousBtn {
  position: absolute;
  top: 32.5rem;
  cursor: pointer;
}

.sliderNextBtn {
  position: absolute;
  top: 32.5rem;
  right: 0;
  cursor: pointer;
}

  

}



/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 896px) and (max-width: 1024px) {

  .MapWrapper .imageWrapper::after {
    content: "";
    position: absolute;
    top: 350px;
    right: 0px;
    width: 231px;
    height: 557px;
    background-image: url("../../public/images/manifesto (1).png");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Roadimage{
    position: absolute;
    top: 430px;
    left: 70px;
  }


  .RoadWrapper h1{
    font-size: 56px;
    font-weight: 600;
    line-height: 70px;
    font-family: "Montserrat";
    color: #FAFAFA;
    margin-top: 200px;
    width: 488px;
}

.RoadMapMain {
  height: 800px !important;
}




  

}


