.gallary {
  width: 100%;
  height: 100%;
  background-color: #051509;
  background-image: url('../../public/images/Ellipse\ 3.png');
  background-size: 454px 454px;
  background-position: right top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
