.subscribeWrapper h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 62.8px;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;
}


.subscribeWrapper p {
    font-style: normal;
    font-weight: 400;
    font-size: 19.8983px;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;
    max-width: 500px;
}

.subscribeInput {
    max-width: 300px;
    background: #f4f5f7;
    border-radius: 5.5273px 0px 0px 5.5273px;
    padding: 15.4764px 17.6873px;
}

.subscribeBtn {
    background: #794187;
    border: 2.40874px solid #794187;
    box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(231.239px);
    /* Note: backdrop-filter has minimal browser support */
    color: #fff;
    margin-left: 5px;
    border-radius: 0px 5.5273px 5.5273px 0px;
}
