.hotCollectionCard {
    background: #26292d;
    border-radius: 12px;
    padding: 10px 10px;
    width: 15rem;
}

.authorPicWrapper {
    margin-top: -40px;
    text-align: center;
}

.hotCollectionCardBody {
    text-align: center;
}

.hotCollectionCard p {
    color: #9c9c9c;
}
