.imageWrapper {
  position: relative;
  height: 600px;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  top: 150px;
  left: 200px;
  width: 300px;
  height: 400px;
  background-image: url('../../../public/images/gallery/6.PNG');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.AboutText h6 {
  margin-bottom: 25px;
  font-family: 'Montserrat-Light';
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.AboutText p {
  color: #a3a3a3 !important;
}

.AboutText h1 {
  font-family: 'Montserrat-Medium';
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Media Query for Mobile Devices */
@media (max-width: 637px) {
  .imageWrapper img {
    width: 220px !important;
  }

  .imageWrapper::after {
    content: '';
    position: absolute;
    top: 130px;
    left: 110px;
    width: 220px !important;
    height: 300px !important;
    background-image: url(/_next/static/media/6.36962dbb.PNG);
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) and (max-width: 1040px) {
  .imageWrapper img {
    width: 220px !important;
    margin-top: 78px !important;
  }

  .imageWrapper::after {
    content: '';
    position: absolute;
    top: 210px;
    left: 90px;
    width: 220px !important;
    height: 300px !important;
    background-image: url(/_next/static/media/6.36962dbb.PNG);
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 640px) and (max-width: 1040px) {
  .imageWrapper img {
    width: 220px !important;
    margin-top: 78px !important;
  }

  .imageWrapper::after {
    content: '';
    position: absolute;
    top: 210px;
    left: 90px;
    width: 220px !important;
    height: 300px !important;
    background-image: url(/_next/static/media/6.36962dbb.PNG);
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
