.aboutWrapper h1 {
    font-family: 'futura-bold';
    font-weight: 600;
    font-size: 30px;
    margin-top: 15px;
}

.aboutWrapper p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}
