.commonHeaderWrapper {
    height: 300px;
    background-image: url("../../../public/images/common-header-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commonHeaderWrapper h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
}
