.mainFesot {
  width: 100%;
  height: 1303px;
  background: url('../../public/images/Mainfesto.png');
  background-size: 100% 100%;
  background-position: left top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 637px) {
  .mainFesot {
    width: 100%;
    height: 100%;
    background: #051509;
  }
}
