.imageWrapper {
  position: relative;
  height: 600px;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  top: 150px;
  left: 200px;
  width: 300px;
  height: 400px;
  background-image: url("../../public/images/manifesto.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.AboutText h6 {
  margin-bottom: 20px;
}

.AboutText h1 {
  margin-bottom: 20px;
  font-family: "futura-bold";
}

.mainFesot {
  width: 100%;
  height: 900px;
  background-color: #051509;
  background-image: url("../../public/images/Ellipse\ 3.png");
  background-size: 454px 454px;
  background-position: right top;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media screen and (max-width: 637px) {
  .mainFesot {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    background: #051509;
  }
}
