.OurPartners {
  padding: 100px 0px;
 
}

.OurPartners h1 {
  font-size: 56px;
  line-height: 100px;
  text-align: center;
  font-family: "Montserrat-Regular";
  font-weight: 600;
  color: #75ba87;
  border-bottom: 1px solid #d1d1d1;
}



.Partners{
  width: 100% !important;
  display: flex !important;
}


.Partner{
  width: 100% !important; 
  justify-content: space-between;
  display: flex !important;
  
}







@media (min-width: 640px) and (max-width: 1040px) {
  .OurPartners {
    padding: 0px 0px;
   
  }


}



/* Media Query for Mobile Devices */
@media (max-width: 600px) {

  .OurPartners {
    padding: 0px 0px;
   
  }
}


