@font-face {
  font-family: Monessirate;
  src: url('../../../public/fonts/Montserrat/Montserrat-Regular.ttf');
}
.galleryMain {
  width: 100%;
  height: 1124px;
  margin: 40px auto;
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.filerArea {
  height: 980px;
  background: linear-gradient(180deg, #081a0c 0%, #06170a 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 20px;
}
.filerArea h1 {
  font-weight: 400;
  font-size: 48px;
  color: #ffffff;
  margin-top: 15px;
}
.plusIcon {
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
}
.filterOption {
  width: 90%;
  padding: 6px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.filterOption p {
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-top: 5px;
}
.galleryItem {
  width: 70vw;
  position: absolute;
  right: 20px;
  height: 780px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  top: 220px;
}
.options {
  width: 100%;
  height: 500px;
  background: #07190b;
}
.options p {
  margin-left: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #a3a3a3;
  cursor: pointer;
  margin-top: 20px;
  font-family: Monessirate;
}
.options p:hover {
  color: white;
}
.optionArea {
  width: 100%;
  margin-left: 40px;
  overflow-y: scroll;
}
.galleryImages {
  width: 23%;
  height: 30%;
  position: relative;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
}
.resetButton {
  width: 90%;
  height: 56px;
  background: #75ba87;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #1a1a1a;
  border: none;
}

.filterOption .ImageAndIcon {
  display: flex;
  height: 30px;
  margin: 5px 0px;
}
.ImageAndIcon p {
  font-family: Monessirate;
  font-weight: 500;
}

.SearcOption {
  width: 90%;
  padding: 6px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  margin-top: 20px;
}

.SearcOption input {
  outline: none;
  background: inherit;
  color: #ffffff;
  border: none;
  margin-left: 10px !important;
}

.GoldenOption h3 {
  background: linear-gradient(-45deg, #ffd580, #f0a925, #ffe56f, #f6b547);
  background-size: 200% 200%;
  -webkit-animation: GalleryMain_gradient__udfMF 2s linear infinite;
  animation: GalleryMain_gradient__udfMF 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px !important;
  margin-left: 5px !important;
  line-height: 24px;
  margin-top: 5px;
  margin-right: 90px !important;
}

.GoldenOption {
  width: 90%;
  padding: 6px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}

.SearcOption img {
  width: 24px !important;
}

.ImageAndIcon img {
  width: 24px !important;
  height: 68px !important;
  margin-top: 5px !important;
  padding: 5px 3px !important;
}

.ImageAndIcon p {
  margin-left: 10px;
}

.gallaryBanner {
  width: 70vw;
  position: absolute;
  right: 20px;
  height: 200px;
  top: 0;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  background: #1d2e21;
}
.bannerImage {
  width: 240px;
  height: 200px;
  position: relative;
}
.bannerText {
  width: 600px;
}
.bannerText h1 {
  font-family: Monessirate;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: #dbdadf;
  margin-left: 20px;
  margin-top: 10px;
}
.bannerText p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #dbdadf;
  margin-left: 25px;
  margin-top: 0;
}
.bannerText button {
  width: 113px;
  height: 40px;
  background: #75ba87;
  border: none;
  margin-left: 25px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1a1a1a;
}

@media screen and (min-width: 768px) and (max-width: 983px) {
  .resetButton {
    width: 96%;
  }
  .filerArea {
    left: 0;
  }
  .galleryMain {
    width: 100%;
    height: 1104px;
    margin: 40px auto;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .galleryItem {
    width: 542px;
    position: absolute;
    top: 305px;
    height: 654px;
    display: flex;
    flex-wrap: wrap;
  }
  .galleryImages {
    width: 129px;
    height: 119px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
  }
  .bannerText h1 {
    font-size: 43px;
  }
}
@media screen and (max-width: 637px) {
  .galleryMain {
    width: 100%;
    height: 3400px !important;
    margin: 40px auto;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: center;
    left: 0;
  }
  .filerArea {
    width: 100vw;
    height: 980px;
    background: linear-gradient(180deg, #081a0c 0%, #06170a 100%);
    display: flex;
    flex-direction: column !important;
    align-items: center;
    position: absolute;

    top: 10px;
    left: 0;
  }
  .galleryItem {
    width: 100%;
    position: absolute;
    right: 20px;
    height: 1760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    top: 1400px;
    left: 5px;
  }
  .galleryImages {
    width: 94%;
    height: 400px;
    position: relative;
  }
  .gallaryBanner {
    width: 90vw;
    position: absolute;
    right: 20px;
    height: 250px;
    top: 1000px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    background: #1d2e21;
  }
  .bannerImage {
    width: 40vw;
    height: 100%;
    position: relative;
  }
  .bannerText {
    width: 60vw;
  }
  .bannerText h1 {
    font-family: Monessirate;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #dbdadf;
    margin-left: 20px;
    margin-top: 10px;
  }
  .bannerText p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #dbdadf;
    margin: 20px;
  }
}
