.galleryMain {
  width: 1180px;
  height: 1104px;
  margin: 40px auto;
  margin-bottom: 0;

  display: flex;
  justify-content: space-between;
}
.filerArea {
  width: 373px;
  height: 980px;
  background: linear-gradient(180deg, #081a0c 0%, #06170a 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filerArea h1 {
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 40px;
}
.plusIcon {
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
}
.filterOption {
  width: 90%;
  padding: 6px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.filterOption p {
  font-weight: 500;
  font-size: 24px;
  color: white;
}
.galleryItem {
  width: 777px;

  height: 900px;
  display: flex;
  flex-wrap: wrap;
}
.options {
  width: 100%;
  height: 500px;
  background: #07190b;
}
.options p {
  margin-left: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #a3a3a3;
  cursor: pointer;
  margin-top: 20px;
}
.options p:hover {
  color: white;
}
.optionArea {
  width: 100%;
  margin-left: 40px;
  overflow-y: scroll;
}
.galleryImages {
  width: 246px;
  height: 280px;
  position: relative;
  margin-left: 10px;
  margin-top: 0;
}
.resetButton {
  width: 325px;
  height: 56px;
  background: #75ba87;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #1a1a1a;
}



.filterOption .ImageAndIcon{
  display: flex;
  height: 30px;
  margin: 5px 0px;
}



.SearcOption {
  width: 90%;
  padding: 6px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  margin-top: 20px;
}




.SearcOption input{
  outline: none;
  background: inherit;
  color: #ffffff;
  border: none;
  margin-left: 10px !important;
}




.GoldenOption h3 {
  background: linear-gradient(-45deg,#ffd580,#f0a925,#ffe56f,#f6b547);
  background-size: 200% 200%;
  -webkit-animation: GalleryMain_gradient__udfMF 2s linear infinite;
  animation: GalleryMain_gradient__udfMF 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px !important;
  margin-left: 5px !important;
  line-height: 24px;
  margin-top: 5px;
  margin-right: 90px !important;
}

.GoldenOption {
  width: 90%;
  padding: 6px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}



.SearcOption img{
  width: 24px !important;
}



.ImageAndIcon img{
  width: 24px !important;
  height: 68px !important;
  margin-top: 5px !important;
  padding: 5px 3px !important;  
}


.ImageAndIcon p{
  margin-left: 10px;
}


@media screen and (max-width: 1040px) {
  .galleryMain {
    width: 834px;
    height: 1104px;
    margin: 40px auto;
    margin-bottom: 0;

    display: flex;
    justify-content: space-between;
  }
  .galleryItem {
    width: 454px;

    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  .galleryImages {
    width: 129px;
    height: 119px;
    position: relative;
    margin-left: 10px;
    margin-top: 0;
  }
}
@media screen and (max-width: 637px) {
  .galleryMain {
    width: 100%;
    height: 100% !important;
    margin: 40px auto;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .galleryItem {
    width: 100%;
    margin-top: 20px;
    height: 3800px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .galleryImages {
    height: 400px;
    width: 340.716064453125px;
    position: relative;
    margin-left: 10px;
    margin-top: 0;
    margin-top: 10px;
  }
}
