.galleryMain {
  width: 100%;
  height: 1124px;
  margin: 10px auto;
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.filterMOBVErsion {
  display: none;
}
.filerArea {
  height: 580px;
  background: linear-gradient(180deg, #081a0c 0%, #06170a 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 20px;
  display: block;
}
.filterHello {
  margin-left: 20px;
}
.filerArea h1 {
  font-weight: 800;
  font-size: 32px;
  color: #ffffff;
  margin-top: 15px;
  font-family: 'futura-bold';
  text-transform: uppercase;
}
.plusIcon {
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
}
.filterOption {
  width: 90%;
  padding: px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}
.filterOption p {
  font-weight: 800;
  font-size: 16px;
  color: #a3a3a3;
  margin-top: 5px;
  font-family: 'Montserrat-Regular';
}
.galleryItem {
  width: 70vw;
  position: absolute;
  right: 20px;
  height: 780px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  top: 220px;
}
.options {
  width: 96%;
  height: 450px;
  margin-bottom: 0;
  background: #07190b;
}
.options p {
  margin-left: 30px;
  font-weight: 800;
  font-size: 16px;
  color: #a3a3a3;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Montserrat-Regular';
}
.options p:hover {
  color: white;
}
.optionArea {
  width: 100%;
  margin-left: 16px;
  overflow-y: scroll;
}
.galleryImages {
  width: 23%;
  height: 30%;
  position: relative;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
}
.resetButton {
  background: #75ba87;
    color: #1a1a1a;
    padding: 11px 0px;
    border: 1px solid #75ba87;
    transition: 0.5s;
    font-weight: 200;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    width: 90%;
    height: 60px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 10px;
}

.filterOption .ImageAndIcon {
  display: flex;
  height: 30px;
  margin: 5px 0px;
}
.ImageAndIcon p {
  font-family: 'Montserrat-Regular';
  font-weight: 800;
  color: gray;
}

.SearcOption {
  width: 90%;
  padding: 6px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  margin-top: 20px;
}

.SearcOption input {
  outline: none;
  background: inherit;
  color: #ffffff;
  border: none;
  margin-left: 10px !important;
}

.GoldenOption h3 {
  background: linear-gradient(-45deg, #ffd580, #f0a925, #ffe56f, #f6b547);
  background-size: 200% 200%;
  -webkit-animation: GalleryMain_gradient__udfMF 2s linear infinite;
  animation: GalleryMain_gradient__udfMF 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px !important;
  margin-left: 5px !important;
  line-height: 24px;
  margin-top: 5px;
  margin-right: 90px !important;
  letter-spacing: 0.2em;
}

.GoldenOption {
  width: 90%;
  padding: 6px 0px;
  border-bottom: 1px solid #374b3c;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}

.SearcOption img {
  width: 24px !important;
}

.ImageAndIcon img {
  width: 24px !important;
  height: 68px !important;
  margin-top: 5px !important;
  padding: 5px 3px !important;
}

.ImageAndIcon p {
  margin-left: 10px;
}

.gallaryBanner {
  width: 69vw;
  position: absolute;
  right: 23px;
  height: 200px;
  top: 0;
  overflow: hidden;
  display: flex;
  background: url('../../../public/images/Gallery_Banner.jpg');
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}
.bannerImage {
  width: 240px;
  height: 200px;
  position: relative;
}
.bannerText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerText h1 {
  font-family: 'futura-bold';
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 10px;
}
.bannerText p {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #dbdadf;
  margin-left: 25px;
  margin-top: 0;
}

.bannerText button {
  width: 113px;
  height: 40px;
  background: #75ba87;
  border: none;
  margin-left: 25px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #1a1a1a;
  transition: all linear 0.2;
  text-transform: uppercase;
}

.bannerText button:hover {
  background-color: #e2dd96 !important;
}
.gallaryDemoIMage {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 10px;
}
.filterMob {
  display: none;
}

@media screen and (min-width: 1871px) and (max-width: 2560px) {
  .galleryImages {
    width: 23%;
    height: 51%;
    position: relative;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1430px) {
  .galleryImages {
    width: 23%;
    height: 22%;
    position: relative;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1871px) {
  .galleryImages {
    width: 23%;
    height: 29%;
    position: relative;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 983px) {
  .resetButton {
    width: 96%;
  }
  .filerArea {
    left: 0;
  }
  .galleryMain {
    width: 100%;
    height: 1104px;
    margin: 40px auto;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .galleryItem {
    width: 542px;
    position: absolute;
    top: 228px;
    height: 654px;
    display: flex;
    flex-wrap: wrap;
  }
  .galleryImages {
    width: 162px;
    height: 160px;
    position: relative;
    margin-left: 10px;
    margin-top: 0px;
  }
  .bannerText h1 {
    font-size: 43px;
    font-family: 'futura-bold';
  }
}
@media screen and (max-width: 637px) {
  .filterHello {
    display: none;
  }
  .filterIcons {
    display: flex;
  }
  .filterIMAG {
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 20px;
    margin-top: -15px;
    cursor: pointer;
  }
  .filterMob {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filterQuan p {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    color: #dbdadf;
    margin-top: 0;
  }
  .gallaryDemoIMage {
    height: 20%;
    width: 90%;
    position: relative;
    margin-left: 22px;
  }
  .galleryMain {
    width: 100%;
    height: 1868px !important;
    margin: 40px auto;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: center;
    left: 0;
  }
  .filerArea {
    width: 90vw;
    height: 580px;
    background: linear-gradient(180deg, #081a0c 0%, #06170a 100%);
    display: flex;
    flex-direction: column !important;
    align-items: center;

    display: none;
    top: 10px;
    left: 5%;
    position: none;
    z-index: 55555;
  }
  .galleryItem {
    width: 100%;
    position: none;
    right: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
    top: 180px;
    left: 5px;
    align-content: flex-start;
    z-index: 0;
    padding: 0px 10px 0px 0px;
  }
  .galleryImages {
    width: 46%;
    height: 200px;
    position: relative;
  }
  .gallaryBanner {
    width: 94vw;
    right: 10px;
    height: 93px;
    height: 93px;
    top: 75px;
    overflow: hidden;
    display: flex;
    background: url(/_next/static/media/Gallery_Banner.e41c74bc.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
  }

  .bannerImage {
    width: 40vw;
    height: 100%;
    position: relative;
  }
  .bannerText {
    width: 100%;
  }
  .bannerText h1 {
    font-family: 'futura-bold';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #dbdadf;
    margin-left: 20px;
    margin-top: 10px;
  }
  .bannerText p {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #dbdadf;
    margin: 20px;
  }
  .filterOption {
    width: 82%;
    margin-left: 6%;
  }
  .resetButton {
    margin-left: 21px;
  }
  .filerArea h1 {
    margin-left: 40px;
  }
  .options {
    width: 71%;
  }
  .xIcon {
    margin-top: 50px;
  }
  .filterMOBVErsion {
    width: 90%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    z-index: 55555;
  }
}




