.mainfestoHero {
  width: 1180px;
  height: 820px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.maiFestoHeroLeft {
  width: 573px;
  height: 620px;
  position: relative;
  margin-top: -140px;
}
.mainFestoHeroRight {
  width: 575px;
  height: 384px;
}
.mainFestoHeroRight h6 {
  font-family: 'Montserrat-Medium';
  text-transform: uppercase;

  color: #75ba87;
  font-weight: 400;
  font-size: 18px;
}
.mainFestoHeroRight h1 {
  font-family: 'futura-bold';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 56px;
  color: #e3f1e7;
  margin-top: 20px;
}
.mainFestoHeroRight p {
  font-family: 'Montserrat-Regular';
  color: #a3a3a3;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}

@media screen and (max-width: 1040px) {
  .mainfestoHero {
    width: 767px;
    height: 577px;
  }
  .maiFestoHeroLeft {
    width: 405px;
    height: 432px;
  }
  .mainFestoHeroRight {
    width: 342px;
    height: 383px;
  }
  .mainFestoHeroRight h1 {
    font-family: 'futura-bold';
    text-transform: uppercase;
    font-size: 32px;
  }
  .mainFestoHeroRight p {
    margin-right: 20px;
  }
  .mainFestoHeroRight p {
    font-size: 14px;
  }
}
@media screen and (max-width: 637px) {
  .mainfestoHero {
    width: 374px;
    flex-direction: column-reverse;
    height: 100vh;
    justify-content: start;
  }
  .maiFestoHeroLeft {
    width: 354px;
    height: 384px;
    margin-top: 30px;
  }
  .mainFestoHeroRight {
    margin-top: 30px;
    height: 350px !important;
  }
}
